/*detail*/


.activity-tips{
    float: left;
    width:620px;

    margin: 0 0 25px 40px;
    padding: 20px;
    border: solid 1px #999;
    border-top: none;
    text-align: center;
    background: #fff0a3;

    h1{
        font-size: 18px;
        line-height: @18px-line-height;
        font-weight: normal;
    }
}

.activity-content{
	float: left;
	width: 620px;

	margin-top: 25px;
	margin-bottom: 25px;

	padding: 0 0 0 40px;
	background-color: transparent;




	.activity-status{
		height:30px;
		margin-right:20px;

		position: relative;

		.icon-lock-b, .icon-unlock-b, .icon-face-smile-b, .icon-face-sad-b{
			display: -moz-inline-stack;  //Firefox only code
            display: inline-block;       //some standard browsers
            zoom: 1;                     //IE only
            *display: inline;            //Only IE know this code (CSS Hack)
			overflow: hidden;
			/*vertical-align: -2px;*/
            margin-bottom: -2px;

			margin-right: 2px;
		}

		.icon-lock, .icon-unlock, .icon-face-smile, .icon-face-sad{
            display: -moz-inline-stack;  //Firefox only code
            display: inline-block;       //some standard browsers
            zoom: 1;                     //IE only
            *display: inline;            //Only IE know this code (CSS Hack)
			overflow: hidden;
			/*vertical-align: -2px;*/
            margin-bottom: -2px;
			margin-right: 4px;
			margin-left: -4px;
		}


		.status-item{
			float:right;
			width: 60px;
			background: #c3c3c3;
			padding:4px 14px;
			margin-left: 10px;
			cursor: pointer;

			.txt-status{
				font-size:12px;
				line-height: @12px-line-height;

				color:#fff;
			}
		}


		.status-hover{
			/*.pop-container;	*/
			background: #000;
		}

		.status-conbox{
			/*.pop-container;*/
			background: #000;

			position: absolute;
			width: 220px;
			top: 28px;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			border-top-right-radius: 0px;
			-webkit-border-top-right-radius: 0px;
			padding: 16px;

			.status-info{
				margin-bottom: 10px;
				color:#fff;
				font-size:14px;
				line-height:@14px-line-height;
			}

			.status-des{
				margin-bottom: 10px;
				color:#fff;
				font-size:12px;
				line-height:@12px-line-height;
			}
		}

			#OpenConbox{
				left:250px;
				z-index: 2;
			}
			#StatusConbox{
				left:348px;
				z-index: 3;
			}

	}

	.activity {
		margin:0;
		padding:0;
		color: #444;

		overflow: hidden;

		.activity-lab{
			.icon-clock, .icon-content, .icon-person, .icon-comment{
				vertical-align: -2px;
	            *vertical-align: 2px;
	            *margin-right: 3px;
	               
	            display: -moz-inline-stack;  //Firefox only code
                display: inline-block;       //some standard browsers
                zoom: 1;                     //IE only
                *display: inline;            //Only IE know this code (CSS Hack)
				overflow: hidden;
			}


			.txt-activity-lab{
				color:#666;
				font-size:14px;
				line-height: @14px-line-height;
			}

		}

        .pop-triangle {
            left: -9px;
            top: 25px;
        }

		.activity-content-holder {
            background:#fff;
            border: 1px solid #999;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;


			width: 538px;
			float: right;
			position: relative;
			zoom: 1;

			.activity-hd {
				padding: 8px;
				overflow: hidden;

				.txt-activity-time{
					font-size: 12px;
					line-height:@12px-line-height;
				}

				.icon-edit{
					display:none;
					overflow: hidden;
					vertical-align: -3px;
	                *vertical-align: 0px;
	                cursor: pointer;
				}

			}

			.activity-bd {
				padding: 8px;
				overflow: hidden;


                .activity-title-holder{
                    float: left;
                    width: 364px;
                    margin-right:6px;

                    p{
                        margin-bottom: 0px;
                    }
                }
                .mine-status{

                    color:@foreground-color;
                    font-size: 12px;
                    line-height:@12px-line-height;
                }
                .activity-action{
                    display: -moz-inline-stack;  //Firefox only code
                    display: inline-block;       //some standard browsers
                    zoom: 1;                     //IE only
                    *display: inline;            //Only IE know this code (CSS Hack)
                    width: 104px;

                    
                    border-left: 1px dashed #DDD;
                    padding: 0 0 0 5px;

                    .action{
                        margin: 4px 0;
                    }
                    .btn{
                        padding:4px 6px;
                    }

                    #link-quit a{
                        color: #999;
                        font-size:12px;
                    }

                    #link-confirm{
                        font-size:12px;
                    }
                }


				.txt-activity-title{
					color: #333;
					font-size: 25px;
					line-height:@25px-line-height;

					.word-break
				}

				.icon-edit{
					display:none;
					overflow: hidden;
					vertical-align: -2px;
	                *vertical-align: 2px;
	                cursor: pointer;
					margin-left: 4px;
				}



				.release-time {
					color:#ccc;
					font-size:12px;
					line-height:@12px-line-height;
				}
				
			}



			.activity-participators{
				padding: 8px;

				.activity-invite{
					float:right;
					font-size:14px;
					line-height:@14px-line-height;
	                cursor: pointer;

					widht:130px;

					.icon-plus, .icon-sina{
                        vertical-align: -2px;
                        *vertical-align: 2px;
                        *margin-right: 3px;


                        display: -moz-inline-stack;  //Firefox only code
                        display: inline-block;       //some standard browsers
                        zoom: 1;                     //IE only
                        *display: inline;            //Only IE know this code (CSS Hack)
						overflow: hidden;
					}
					a:hover {
						opacity: .8;
						cursor: pointer;
					}

				}



				.avatar-container{
					padding: 8px 0 0;

					.txt-activity-count{
						color:#888;
						font-size:12px;
						line-height:@12px-line-height;
					}
				}
			}

			.activity-detail{
				padding: 8px;

				.txt-activity-detail{
					padding: 10px 10px 0px 10px;

					color:#666;
					font-size:12px;
					line-height:@12px-line-height;

					#addDetail{
						color: @foreground-color;
						font-size: 14px;
						line-height: @14px-line-height;
						padding: 0 10px;
						cursor: pointer;
					}
				}

				.icon-edit{
					display:none;
					overflow: hidden;
					vertical-align: -3px;
	                *vertical-align: 0px;
	                cursor: pointer;
				}
			}

			.activity-comment{
				padding: 8px;

				.comment-container{
					padding: 0px 20px;

					.gray-border{
						float:left;
						width: 80%;
						margin-top: 10px;

						.comment{
							width: 342px;
							height:2 * @14px-line-height;

							font-size: 14px;
							line-height:@14px-line-height;
						}
					}

					.btn-comment{
						margin-top: 10px;
						float:right;
					}


                    .feed_list{
                        padding-top: 90px;
                        .word-break;

                        .feed{
                            padding: 0;
                            border-bottom: 1px dotted #fff;
                            .face {
                                float: left;
                                display: inline;
                                width: 50px;
                                padding: 0 4px 0 0;
                            }

                            .feed-content{
                                word-wrap: break-word;

                                font-size: 14px;
                                margin: 0 0 0 60px;
                                line-height: @14px-line-height;

                                span.user-name{
                                    color: @foreground-color;
                                }

                                span.link-comment {
                                    float: right;
                                    display: inline;
                                    color:#9ABBC8;
                                }
                                span.date {
                                    margin: 0 20px 0 0;
                                    color: #9ABBC8;
                                }
                                a {
                                    color: #9ABBC8;
                                }


                                p {
                                    margin-bottom: 10px;
                                }
                                p.info {
                                    padding: 3px 0 0;
                                }
                            }
                            .repeat {
                                padding: 10px 10px 0px 10px;
                                background: #F4F4F4;

                                zoom: 1;

                                border-radius: 4px;
                                -moz-border-radius: 4px;
                                -webkit-border-radius: 4px;

                                .arrow{
                                    margin:-20px 0 10px 344px;

                                    width: 25px;
                                    height: 11px;
                                    overflow: hidden;
                                    zoom: 1;

                                    * {
                                        font-family: "宋体";
                                        overflow: hidden;
                                        line-height: 21px;
                                        font-size: 25px;
                                        height: 11px;
                                        width: 22px;
                                    }
                                    span {
                                        color: #F4F4F4;
                                    }
                                }
                                .input{
                                    padding:10px 0 13px;
                                    margin:5px 0 0 0;
                                    
                                    textarea {
                                        color: #666;
                                        height: 20px;
                                        overflow: hidden;
                                        width: 352px;
                                        padding: 4px 4px 0;
                                        font-size: 12px;
                                        margin: 0 0 3px;
                                    }
                                    .btn{
                                        float: right; padding: 3px 8px;
                                    }
                                }
                                dl{
                                    margin-bottom:0px;
                                }
                                .comment_list {
                                    padding: 8px 0 0;
                                    margin: 0 0 7px;

                                    zoom: 1;
                                    overflow: hidden;
                                    clear: both;

                                    dt{
                                        padding: 5px 0 10px 0;

                                        float: left;
                                        display: inline;
                                        width: 30px;
                                    }
                                    dd{
                                        margin: 0 0 0 40px;
                                        font-size:12px;
                                        line-height: 21px;
                                        width: auto;
                                        word-break: break-all;
                                        word-wrap: break-word;
                                        zoom: 1;

                                        span.info{
                                            color: #888;
                                        }
                                    }
                                }
                            }

                        }
                    }


//					.comment-list{
//						padding-top: 84px;
//						.word-break;
//
//            			.comment-item{
//							color: #444;
//							background: #E3E3E3;
//							margin-bottom: 5px;
//							padding: 10px;
//							position: relative;
//							zoom: 1;
//							border-radius: 5px;
//							-moz-border-radius: 5px;
//							-webkit-border-radius: 5px;
//
//							.txt-coment-title{
//								font-size:12px;
//								color:#666;
//
//								a {
//									color:#477c62;
//								}
//								a:hover{
//									cursor: pointer;
//								}
//							}
//							.img-comment-info{
//								width: 16px;
//								height: 16px;
//								margin-right: 6px;
//							}
//
//							.comment-blockquote{
//								clear: both;
//								line-height: 20px;
//								margin: 8px 0 2px 30px;
//								padding-left: 10px;
//							}
//						}
//					}
				}
			}
		}
	}
}
.ui-icon, .ui-icon-alert{
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;

    p{
        font-size: 14px;
    }
}