/*index*/
.container{
	width: 900px;


	.box{
		width: 620px;
        margin: 30px 0px;

		float: left;

        border: none;

//        #friends-tags{
//            .btn-gaoqi{
//                position: absolute;
//                right:32px;
//                top: 22px;
//
//                width: 85px; height: 27px;
//                background: url(/static/style/images/btn-gaoqi.png);
//                display: block;
//                color: #fff;
//                cursor: pointer;
//                line-height: 27px;
//                text-align: center;
//            }
//            a{
//                color: #666;
//            }
//            a:hover{
//                color: #333;
//                text-decoration: none;
//            }
//
//            ul.tag-list{
//                margin: 0px;
//                li.tag{
//                    position:relative;
//
//                    background: #fff;
//                    border: 1px solid #999;
//                    min-height: 80px;
//                    margin-bottom: 30px;
//                    padding: 25px 30px;
//                    border-radius: 6px;
//                }
//            }
//            .tag-title{
//                float: left;
//                height: 27px;
//                margin-bottom: 15px;
//                overflow: hidden;
//                display: block;
//
//                .tag-label{
//                    font-size: 18px;
//                    font-weight: bold;
//                    color: #333;
//                    height: 27px;padding-left: 15px; margin-right: 15px;
//                }
//
//                .tag-active-label{
//                    background: url(/static/style/images/tag-label.png) no-repeat 0 0;
//                }
//                .tag-normal-label{
//                    background: url(/static/style/images/tag-label.png) no-repeat 0 -27px;
//                }
//                .tag-none-label{
//                    background: url(/static/style/images/tag-label.png) no-repeat 0 -54px;
//                }
//
//                a.tag-active{
//                    display: inline-block; height: 27px; line-height: 27px;
//                    background: url(/static/style/images/arrow.png) no-repeat 0 -27px;
//                    padding-left: 15px;
//                    margin: 0 10px;
//                }
//                a.tag-normal{
//                    display: inline-block; height: 27px; line-height: 27px;
//                    background: url(/static/style/images/arrow.png) no-repeat 0 -54px;
//                    padding-left: 15px;
//                    margin: 0 10px;
//                }
//            }
//            .tag-act{
//                float: right;
//            }
//
//            .tag-name{
//                color: #333;
//                font-size: 18px;
//                line-height: @18px-line-height;
//                margin-right: 1em;
//            }
//
//            .members-list{
//                clear: both; overflow: hidden;
//                a.name{
//                    color: #0050A3;
//                }
//                a.name:hover{
//                    color: #0069d6;
//                    text-decoration: none;
//                }
//
//                .title{
//                    font-size: 12px;
//                }
//                ul.active-members-list{
//                    margin:0;padding:0;
//                    margin-bottom: 20px;
//                    li{
//                        display: -moz-inline-stack;  //Firefox only code
//                        display: inline-block;       //some standard browsers
//                        zoom: 1;                     //IE only
//                        *display: inline;            //Only IE know this code (CSS Hack)
//                        zoom: 1;
//                        width: 84px;
//                        margin-top: 10px;
//                        vertical-align: top;
//                        text-align: center;
//                    }
//                    li.show-all{
//                        width: 70px;
//                        a{ line-height: 48px; }
//                    }
//                    li.close-all{
//                        width: 70px;
//                        a{ line-height: 48px; }
//                    }
//                }
//                ul.normal-members-list{
//                    margin:0;padding:0;
//                    margin: 0 15px;
//                    li{
//                        display: inline-block;
//                        zoom: 1;
//                        width: 40px;
//                        margin-top: 10px;
//                        vertical-align: top;
//                        text-align: center;
//                    }
//                    li.show-all{
//                        width: 70px;
//                        a{ line-height: 36px;}
//                    }
//                    li.close-all{
//                        width: 36px;
//                        a{ line-height: 36px;}
//                    }
//                }
//
//            }
//        }


        .feed{
            padding: 10px 15px 15px 15px;
            margin-bottom: 10px;

            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;

            background-color:#ffffff;

            border: solid 1px #999;

             -moz-box-shadow: 2px 2px 0px #666;
            -webkit-box-shadow: 2px 2px 0px #666;
            box-shadow: 2px 2px 0px #666;

            h2{
                margin: 0px 0px 5px 0px;
                padding-bottom: 2px;
                font-size: 14px;
                line-height:@14px-line-height;
                
                border-bottom: 1px solid @foreground-color;

                a.feed-link{
                    color: @foreground-color;
                    font-weight: bold;
                }
            }

            ul{
                padding: 0px;
                margin: 10px 0 0 0;
                list-style: none;

                li{
                    margin-bottom: 5px;

                    a.txt-activity{
                        color: @foreground-color;
                        text-decoration: none
                    }
                    a.txt-activity:hover{
                        color: @foreground-color-hover;
                    }

                }

            }

            .btn-ignore{
                float:right;
                zoom: 1;
            }

        }

//            .members-list{
//                clear: both; overflow: hidden;
//                a.name{
//                    color: @foreground-color;
//                }
//                a.name:hover{
//                    color: @foreground-color-hover;
//                    text-decoration: none;
//                }
//            }
//            div.feed-btn{
//                margin: 16px 0 0 0;
//
//                .btn{
//                    padding: 4px 10px 5px;
//                    zoom: 1;
//                }
//
//                ul.active-members-list{
//                    margin:0;padding:0;
//                    margin-bottom: 20px;
//                    li{
//                        display: -moz-inline-stack;  //Firefox only code
//                        display: inline-block;       //some standard browsers
//                        zoom: 1;                     //IE only
//                        *display: inline;            //Only IE know this code (CSS Hack)
//                        zoom: 1;
//                        width: 84px;
//                        margin-top: 10px;
//                        vertical-align: top;
//                        text-align: center;
//
//                        .icon{
//                            display: inline;
//                        }
//                    }
//                    li.show-all{
//                        width: 70px;
//                        a{ line-height: 48px; }
//                    }
//                    li.close-all{
//                        width: 70px;
//                        a{ line-height: 48px; }
//                    }
//                }
//                ul.normal-members-list{
//                    margin:0;padding:0;
//                    margin: 0 15px;
//                    li{
//                        display: inline-block;
//                        zoom: 1;
//                        width: 40px;
//                        margin-top: 10px;
//                        vertical-align: top;
//                        text-align: center;
//                    }
//                    li.show-all{
//                        width: 70px;
//                        a{ line-height: 36px;}
//                    }
//                    li.close-all{
//                        width: 36px;
//                        a{ line-height: 36px;}
//                    }
//              }


        .main{
            margin-top: 20px;
			min-height: 500px;

            h1{
	            font-size: 18px;
		    }
            
//			#tab-time{
//				margin: 0px 0 0 80px;
//				height: 40px;
//
//				li{
//					float: left;
//					display: inline;
//
//					text-align: center;
//
//					margin-right: 16px;
//
//					height: 24px;
//					padding: 12px 28px 4px;
//
//					a{
//						color: #666;
//						font-size: 12px;
//						line-height: @12px-line-height;
//					}
//
//					a:hover{
//						text-decoration: none;
//						cursor: pointer;
//					}
//				}
//
//				li.current {
//					background: url(images/navbar-bg.png) center bottom no-repeat;
//
//					height: 28px;
//					padding: 8px 28px 4px;
//
//					a{
//						color:@foreground-color;
//						font-size: 14px;
//						font-weight: bold;
//						line-height: @14px-line-height;
//					}
//				}
//			}

			.activity-loading {
				clear: both;
				width: 578px;
				line-height: 32px;
				text-align: center;
				margin: 10px auto 30px;

				 p {
					width: 180px;
					height: @18px-line-height;
					line-height: @18px-line-height;
					padding-left: 40px;
					background: url(images/loading.gif) 0 0 no-repeat;
					margin: 0 auto;
					text-align: center;
					font-size: 18px;
					color: #333;
				}
			}

			.activity-list {
				clear: both;
				margin: 4px 0 25px;
	            padding-left: 20px;

				.activity {
					padding: 8px 0;
                    overflow: hidden;

                    .pop{
                        overflow: hidden;

                        .pop-triangle {
                            left: 20px;
                            top: 25px;
                        }

                    }
                    
					.activity-content-holder {
                        background:#fff;
                        border: 1px solid #999;
                        -moz-border-radius: 6px;
                        -webkit-border-radius: 6px;
                        border-radius: 6px;


						width: 510px;
						float: right;
						position: relative;
						zoom: 1;

						.activity-status{
							position: absolute;
							top:15px;
							right: 20px;

							.icon-lock, .icon-unlock, .icon-face-smile, .icon-face-sad{
								display: -moz-inline-stack;  //Firefox only code
                                display: inline-block;       //some standard browsers
                                zoom: 1;                     //IE only
                                *display: inline;            //Only IE know this code (CSS Hack)
								overflow: hidden;
								/*vertical-align: -2px;*/
		                        margin-bottom: -2px;
							}
						}


						.activity-hd {
							padding: 5px 0;
							overflow: hidden;

							.activity-act-time {
								float: left;
								line-height: 20px;
                                
								.icon-clock{
									display: -moz-inline-stack;  //Firefox only code
                                    display: inline-block;       //some standard browsers
                                    zoom: 1;                     //IE only
                                    *display: inline;            //Only IE know this code (CSS Hack)
									overflow: hidden;

                                    vertical-align: -2px;
                                    *vertical-align: 2px;
                                    *margin-right: 3px;

								}

								.act-time{
									font-size: 12px;
									line-height: @12px-line-height;

									color:#666;
									font-weight: normal;
								}
							}
						}

						.activity-bd {
							padding: 5px 0;

							.activity-title{
								color: #333;
								font-size: 18px;
								line-height: @18px-line-height;

                                .txt-activity-title {
                                    color:#333;
                                    font-size: 18px;
                                }
                                .txt-title:hover{
                                    cursor: pointer;
                                }

								.word-break
							}


	                        p{
	                            margin:4px 0;
	                        }

						}


                        .activity-holder{
                            border:1px solid #eee;
                            zoom: 1;
                            line-height: 20px;
                            padding: 0 20px;
                            font-size: 12px;
                            margin: 10px 0 7px;
                            -moz-border-radius: 3px;
                            -webkit-border-radius: 3px;

                            background: #F3F3F3;

                            .arrow {
                                width: 25px;
                                margin: -11px 0 0 -10px;
                                height: 11px;
                                overflow: hidden;

                                * {
                                    font-family: "宋体";
                                    overflow: hidden;
                                    font-size: 21px;
                                    display: block;
                                    height: 10px;
                                    color: #F3F3F3
                                }
                            }

                            .activity-tags{
                                margin: 10px 0;
                                padding: 0;

                                span.tag{
                                    padding: 3px 10px 4px;
                                    font-size: 12px;
                                    font-weight: bold;
                                    color: white;
                                    text-transform: uppercase;
                                    white-space: nowrap;

                                    -webkit-border-radius: 6px;
                                    -moz-border-radius: 6px;
                                    border-radius: 6px;

                                    background-color: #62CFFC;

                                    margin: 0 4px 2px 0;

                                    cursor: pointer;
                                }
                                span.tag:hover{
                                    background-color: #3aaad8;
                                }
                            }

                            .activity-act-time{
                                color: #333;
                                font-size: 12px;
                                line-height: @12px-line-height;
                            }
                        }

						.activity-participators{
							padding: 10px 0;

	                        .participators-info{
	                            padding: 0;
                                overflow: hidden;


                                a, span{
                                    float: left;
                                    color:#888;
                                    font-size: 12px;
                                    line-height: @12px-line-height;
                                }
                                a{

                                    margin-right:6px;
                                }
                                a:hover{
                                    color:#666;
                                    cursor: pointer;
                                }

                                .icon-message{
                                    display: -moz-inline-stack;  //Firefox only code
                                    display: inline-block;       //some standard browsers
                                    zoom: 1;                     //IE only
                                    *display: inline;            //Only IE know this code (CSS Hack)

                                    overflow: hidden;
                                    /*vertical-align: -2px;*/
                                    margin-bottom: -2px;

                                }
	                        }
						}

                        

						.activity-act {
							.btn{
                                float: right;

                                margin-left: 10px;
	                        }
						}

					}
				}
			}
		}
	}

}

.circle__popup {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    z-index: 300;
    left: 50%;
    top: 50%;
    margin-top: 10px;
    margin-left: 10px;
    -webkit-transition-property: opacity, margin-top, margin-left;
    -webkit-transition-duration: 0.7s;
    -moz-transition-property: opacity, margin-top, margin-left;
    -moz-transition-duration: 1s;
    opacity: 0;
    text-align: center;
    line-height: 32px;
    color: #FFF;
    font-size: 15px;
}

.circle__popup_green {
    background:#00d240;
    background: -webkit-gradient(linear, left top, left bottom, from(#00d240), to(#00d240));
}
.circle__popup_green {
    background:#00d240;
    background: -webkit-linear-gradient(top, #00d240 0%, #00ae35 100%);
}
.circle__popup_green{
    background:#00d240;
    background: -moz-linear-gradient(top, #00d240 0%, #00ae35 100%);
}

.circle__popup_phase1 {
    margin-top: -60px;
    margin-left: 30px; opacity: 1;
}
.circle__popup_phase2 {opacity: 0;}

