/* choose-tags */
#choose-tags{
	background: #3d8460;

	#page{
		margin: 0 auto;
		width: 850px;
		min-height:100%;
        border-radius: 10px;


        #head{
            margin: 40px 0 20px 0;
        }

        #content{
            background: #fff; padding: 40px 60px; color: #333;
            border-radius: 10px;
            -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px;
            .tip {
                background: #FDE3C0;
                border: 1px solid #FF8D00;
                padding: 10px 15px;
                text-align: center;
                margin-bottom: 20px;
                .strong{
                    font-size: 16px; font-wight: bold;
                }
            }
            h3{
                padding: 10px;
                .strong{
                    font-size: 25px;
                    color: #333;
                }
            }

            .opreate{
                width:100%; height:24px;
            }

            .command{
                float: right;
                overflow: hidden;
                margin-top: 10px;
                .btn-gaoqi-main{
                    float: right;
                }
            }

            
        }

	}




}