/*login*/
#login{
	background: url(images/body-bg.jpg) no-repeat top #289961;

	.content{
		margin: 0 auto;
		width: 800px;
		min-height:100%;
		text-align: center;

		.alink{
			color: #fff;
		}
		.alink:hover{
			cursor: pointer;
		}


		#logo{
			width: 100%;
			padding-top: 150px;
			margin-bottom: 0px;
			position: relative;
			img {
				margin-left: 65px;
			}

			#title{
				color: white;
				font-weight: normal;
				margin-bottom: 25px;
				font-size: 16px;
			}
		}


		#singin{
            margin: 0 auto;
            text-align: center;
            width: 605px;

            li {
                float: left;
                display: block;
                width: 240px;
                text-align: left;

                .login-lab{
                    text-align: left;
                    color:#fff;
                }

            }
	        li.last{
                width: 100px;
                padding-top:26px;

                .btn-signin{
					overflow: hidden;
					vertical-align: -9px;
					display: inline-block;
				}
			}

		}


		#weibo-signin{
			margin-top: 50px;
			font-size: 16px;
			color: #fff;
            height: 120px;

			.weibo-btn{
				width:126px;
				height:30px;
				margin: 0 auto;

				.weibo_widget_connect_icon_th {
					height: 30px;
					line-height: 30px;
					padding-left:0;
				}
			}
		}

        #btn-sinaweibo-connect{
            width: 173px; height: 32px;
            margin: 0 auto;
            background: transparent;
            cursor: pointer;
        }
	}

	.footer{
		margin-top: -40px;
	}

}

