#user-sel-container{
    width: 565px;
    .holder{
        color: #333;
        
        .title{
            font-size: 18px;
            line-height: @18px-line-height;
            margin: 0 0 20px 0;
        }
        .sites{
            min-height: 100px;
            .category{
                ul{
                    margin:0; padding:0;
                    float: left;
                    width: 145px;
                    height: 80px;
                    li{
                        color: #333;
                        font-size: 18px;
                        line-height: 40px;

                        height: 40px;
                        cursor: pointer;

                        .icon{
                            background: url(images/invite-user.png) no-repeat;
                            height: 40px;
                            display: block;
                            padding-left: 45px;
                        }

                        .find-gaoqi{
                            text-indent: 0px;
                            color:#aaa;
                            background-position: 0 0;
                        }
                        .find-sinaweibo{
                            text-indent: 0px;
                            background-position: 0 -40px;
                        }
                    }
                    li.active{
                        background: url(images/invite-user-active.png) no-repeat;
                        color: #fff;

                    }
                    li.disabled{
                        opacity: .5;
                        filter: alpha(opacity=50);
                        -ms-filter: "alpha(opacity=50)";
                        zoom:1;/* set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower */
                    }
                }
            }
            .find-friends{
                float: right;
                width: 400px;

                span.lbl-weibo-tip{
                    font-size: 14px; line-height: @14px-line-height;
                }
                span.lbl-weibo-user{
                    font-size: 12px; line-height: @12px-line-height;
                    color: #999;
                }

                .sinaweibo-search{
                    width: 240px; position: relative;
                    margin: 20px 0;

                    input.txt-search{
                        padding: 2px 22px 2px 5px;
                        height: 24px;
                        font-size: 14px;
                    }

                    .btn-search{
                        position: absolute;
                        right: 5px;
                        top: 7px;
                    }
                    .selector-renderer {
                        display:none;
                        position: absolute;
                        top: 29px;

                        width: 200px;

                        background: white;
                        border: 1px solid #ccc;

                        /*-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .5);*/
                        /*-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .5);*/
                        /*box-shadow: 0 1px 5px rgba(0, 0, 0, .6);*/

                        z-index: 99;


                        .selector-active {
                            background-color: #D6E9F8;
                        }

                        .selector-row {
                            cursor: pointer;
                            padding: 8px;
                            clear: both;

                            .avtar{
                                margin: 0 10px 0 0;
                                vertical-align: middle;
                            }
                            span {
                                font-weight: bolder;
                            }
                            a{
                                color: @foreground-color;
                                text-decoration:none;
                                font-size: 12px;
                            }
                        }
                    }

                }



                .findfriend-container {
                    padding: 32px;
                    position: relative;
                    
                    .clearfix, .friend-list{
                        margin:20px 0 0 0;
                        padding:0;
                        zoom: 1;

                        .friend-item {
                            float: left;
                            width: 188px;
                            margin: 0 4px 10px 0;
                            display: inline;

                            .friend-avatar-wrapper {
                                float: left;
                                margin-right: 6px;
                                padding: 1px;
                                border: 2px solid transparent;

                                cursor:pointer;

                                .friend-avatar {
                                    width: 50px;
                                    height: 50px;
                                    display: block;
                                    position: relative;
                                    
                                    .checkbimg{
                                        position: absolute;
                                        right: 0;
                                        bottom: 0;
                                        border: none;
                                        float: left;
                                        width: 12px;
                                        height: 12px;
                                        background: url(images/checkbox.gif) 0 0 no-repeat;
                                        overflow: hidden;
                                    }
                                }
                            }
                            .friend-selected{
                                border: 2px solid #A8DE86;
                            }
                            .friend-info {
                                float: left;

                                div {
                                    font-size: 12px;
                                    width: 126px;
                                    line-height:@12px-line-height;
                                    overflow: hidden;

                                    .word-break;
                                }

                                .username {
                                    color: @foreground-color;
                                    font-weight: bold;
                                }

                                .weiboname{
                                    color: #999;
                                }
                            }
                        }
                    }
                }
            }
        }
        .friends-choosen{
            display: table;
            margin: 20px 0;

            .friends-title{
                display:table-cell;
                vertical-align: middle;
            }
            .friends-list{
                width:350px;
                margin-left:16px;
                display:inline-block;
            }
        }
        .operation{
            label{
                width: 100%;
                text-align: left;
                margin-bottom: 6px;
            }
            .weibo-content{
                width:555px;
                height:42px;
                resize:none;
                outline:0;
            }
            #btn-invite{
                float: right;
                margin-top: 5px;
                padding: 5px 25px 6px;
            }
        }
    }
}
