@12px-line-height: 21px;
@14px-line-height: 24px;
@18px-line-height: 32px;
@25px-line-height: 40px;



@foreground-color: #226745;
@foreground-color-hover: #2a9962;


.logo-white{
    background: url(images/logo-white.png) no-repeat;
    width: 200px; height:50px;
    display: inline-block;
    margin: 0px 10px 0px 0px;
}
.logo-1{
    background: url(images/logo_1.png) no-repeat;
    width: 310px;height: 75px;
    display: inline-block;
    margin: 0px 10px 0px 0px;
}
.logo-2 {
    background: url(images/logo_2.png) no-repeat;
    width: 310px;height: 75px;
    display: inline-block;
    margin: 0px 10px 0px 0px;
}
.logo-topbar{
    background: url(images/logo-topbar.png) no-repeat;
    width: 86px; height:48px;
}


.clearfix {
    zoom: 1;
}
.clearfix::after {
    content: " 20";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*footer*/
.footer{
	text-align: center;
	color: #bfdfcf;

	.footer-alink{
		color: #bfdfcf;
		text-decoration: none;
	}
	.footer-alink:hover{
		color: #fff;
	}
}




@import "gaoqi-active-mail.less";
@import "gaoqi-choose-tags.less";
@import "gaoqi-new-activity.less";
@import "gaoqi-tag-sel.less";