/*register*/
#register{
	background: url(images/body-bg.jpg) no-repeat top #289961;

	.content{
	    margin: 0 auto;
		padding-top: 20px;
		width: 900px;
		min-height: 90%;
		color: #fff;

		.alink{
			color: #fff;
		}
		.alink:hover{
			cursor: pointer;
		}

		#head{
			width: 100%;
			height:auto;
			position: relative;
		}


		#register-container{
		    margin-top: 30px;
	        margin-bottom: 30px;
			padding: 0px 80px;
            width:900px;
            heigh:540px;

			#login-button-holder {
				position: absolute;
				top: 22px;
				right: 10px;
				width: 200px;
				line-height: 30px;
				height: 30px;
				color: white;
				z-index: 100;


				.btn-signin{
					overflow: hidden;
					vertical-align: -9px;
					display: inline-block;
				}
			}


			#prompt-holder{
				padding: 10px 0 20px 0;

				#user-icon{
					width:48px;
					height:48px;
					margin-right: 18px;
					margin-bottom: -10px;
				}

				#txt-prompt{
					font-size:18px;
					color:#fff
				}

			}


			#register-by-sina{
				float: left;
				margin-left:25px;
	            margin-top:80px;
			}



			#register-holder{
				padding: 10px 0 10px 0;
	            width:400px;
	            height:320px;
	            float: left;

				#box{
					background: rgba(255, 255, 255, 0.1);

					-moz-border-radius: 6px;
					-webkit-border-radius: 6px;
					border-radius: 6px;

					padding: 20px;
					width:310px;

                    #btn-reg{
                        margin-left:12px;
                    }

					.box-wrap{
						margin-bottom: 25px;
	                    position: relative;
	                    padding:0;


                         .no-content {
                            position: absolute;
                            top: 18px;
                            left: 14px;
                            font-size: 16px;
                            cursor: text;
                            color: #92A2AF;
                        }

                        .login-form-element {
                            padding: 6px 12px;
                            .text{
                                -moz-border-radius: 4px;
                                -webkit-border-radius: 4px;
                                border-radius: 4px;
                                
                                width: 254px;
                                font-size: 18px;
                                line-height: 32px;
                                height: 32px;
                            }
                        }

                        label {
                            padding-top: 5px;
                            font-size: 14px;
                            float: left;
                            width: 100%;
                            text-align: left;
	                        color: #FFF;
                        }
					}

				}

    		}
		}
	}

	.footer{
		margin-top: -20px;
	}
}