/*
new activity dialog
*/

.new-activity{
    position: relative;

    background-color: #fff;

    h3 {
        color: @foreground-color;
        font-weight: normal;
    }

    #txt-count-remind{
        position: absolute;
        right: 10px;
        top: 28px;
        color: #B8B7B7;

        display:none;

        font-size: 12px;
        line-height:@12px-line-height;

        .count-among{
            font-weight: bold;
            font-size: 22px;
            line-height: 30px;
            font-family: Constantia,Georgia;
        }
        .count-over{
            font-weight: bold;
            font-size: 22px;
            line-height: 30px;
            font-family: Constantia,Georgia;

            color: #DA0000;
        }
    }

    .active-title{
        padding:8px 0;
        overflow: hidden;

        .txt-title{
            font-size: 18px;
            width:580px;
            line-height: @18px-line-height;

            height: 30px;
            box-shadow: 0 -42px 3px #fff inset,0 0 3px rgba(0,0,0,0.5) inset;
            resize: none;
        }
    }


    .active-detail{
        padding: 8px 0;
        overflow: hidden;

        .active-time{
            float:left;
            overflow: hidden;

            span{
                font-size:14px;
                line-height:@14px-line-height;
            }
        }
        
        .active-btn{
            padding:0;
            float:right;
            margin-right:4px;

            .btn-gaoqi-main{
                float: right;
            }
        }




        .active-invite{
            font-size: 14px;
            line-height: 32px;

            height: 32px;
            overflow: hidden;

            .icon-plus, .icon-sina{
                display:inline-block;
                overflow: hidden;
                vertical-align: -2px;
            }

            a:hover {
                opacity: .8;
                cursor: pointer;
            }
        }
        .active-invite-detail {
            margin: 2px 0;
        }
    }


    .invitation{
        padding: 8px 0;
    }
}


.activity-holder{
    margin-bottom: 16px;

    p{
        color: #999;
        font-size:14px;
        line-height:@14px-line-height;

        margin-bottom: 5px;
    }
}


.beg-activity{
    .activity-tags{
        .tag{
            border: 2px  solid #ddd;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            font-size:14px;

            width:112px;

            display: -moz-inline-stack;  //Firefox only code
            display: inline-block;       //some standard browsers
            zoom: 1;                     //IE only
            *display: inline;            //Only IE know this code (CSS Hack)
            overflow: hidden;
            
            margin: 0 4px 2px 0;

            .title{
                line-height: 30px;
                height: 30px;
                font-size:14px;

                text-align: center;

                color: @foreground-color;
            }
            .delete{
                font-family: Arial, sans-serif;
                float: right;
                font-size: 20px;
                font-weight: bold;
                line-height: 30px;
                height: 30px;


                padding: 0 10px;

                border-left: 2px solid #ddd;
                
                font-weight: bold;
                color: #999;

                background: #DDF4FB;

                cursor: pointer;
            }
            .delete:hover{
                color: #404040;
            }
        }
    }

    .activity-time{
        span{
            margin-left: 10px;
            font-size:14px;
            line-height:@14px-line-height;
        }
    }

    .activity-idea{

        padding:8px 0;
        overflow: hidden;
        position: relative;

        .no-content{
            position: absolute;
            top: 46px;
            left: 2px;
            font-size: 16px;
            cursor: text;
            color: #92A2AF;
        }

        .txt-activity-idea{
            font-size: 14px;
            width:590px;
            line-height: @14px-line-height;

            height: 30px;
            box-shadow: 0 -42px 3px #fff inset,0 0 3px rgba(0,0,0,0.5) inset;
            resize: none;
        }

    }
    .activity-btn{
        .btn{
            float: right;
        }
    }
}


.gaoqi-activity{
    .friends-list{
        background-color: #F6F6F6;
        overflow-y: auto;
        max-height: 245px;

        .invite_grid{
            background-color: white;
            width: 170px;
            height: 36px;
            float: left;
            margin: 2px 4px 4px 4px;
            border: 1px solid #D8D8D8;

            -moz-user-select: none;
            
            cursor: pointer;

            .avatar_grid_small {
                float: left;
                margin-right: 3px;
            }

        }

        div.selected{
            background-color: #fefdcb;
        }

        .user_name{
            margin: 5px 0 0 5px;
            float: left;
            font-weight: bold;
            font-size:14px;
            color: #6666;
        }
    }

    .activities-list{
        ul{
            margin-left:0;
            
            li{
                border: 1px solid transparent;
                padding: 4px 10px;

                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;

                cursor: pointer;

                p{
                    color: #333;
                    font-size:14px;
                    margin-bottom: 0px;
                }
                span{
                    color: #666;
                    font-size:12px;
                }
            }
            li:hover{
                background-color: #fefdcb;
                border: 1px dotted #4e4e4e;
            }
            .new{
                p{
                    line-height:45px;
                }
            }
        }
    }

}