.tag-sel {
    overflow: hidden;
    text-align: center;
    margin: 0 0 20px 0;
    background: #f9f9f9;
    border: dashed 1px #999; padding: 10px;
    ul{
        margin:0 -1px 0; padding:0;
        background: url(/static/style/images/choose-tags-bg.png) repeat;
    }
    li{
        width: 88px;float: left; padding: 0 12px; margin: 3px 0;
        font-size: 14px;

        margin: 2px 15px;
        a {
            color: #444;
            display: block;
            width: 88px;
            line-height: 27px;
            height: 27px;
        }
        a:hover{
            text-decoration: none;
            color: #fff;
            background: #acdbf7;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
        }
    }
    li.selected{
        a {
            background: #4DBAFD;color: white;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
        }
    }

}