/*active-mail*/
#active-mail{
	background: #3d8460;

	#page{
		margin: 0 auto;
		width: 850px;
		min-height:100%;
        border-radius: 10px;


        #head{
            margin: 40px 0 20px 0;
        }

        #content{
            background: #fff; padding: 40px 60px; color: #333;
            border-radius: 10px;
            -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px;

            h2{
                font-size: 24px;
                margin-bottom: 28px;
            }
            h3{
                font-size: 18px;
            }

            p{
                margin-bottom: 14px;
                font-size: 14px;
            }
            .tip {
                background: #FDE3C0;
                border: 1px solid #FF8D00;
                padding: 10px 15px;
                text-align: center;
            }
            ul{
                margin: 0;
                li{
                    color: #333;
                    font-size: 14px; line-height: 18px;
                    list-style: disc;
                    padding-bottom: 8px;
                    margin-left: 20px;
                }
            }
        }

	}





}

