@topbar-a-color: #ddd;
@topbar-bg-color: #3d8460;

.topbar{
	position: static;
	background: @topbar-bg-color;
    font-size: 18px;
    line-height: @18px-line-height;
    color: @topbar-a-color;

    .logo-topbar{
        display: block;
        float: left;
        margin-right: 50px;
    }

	.container{
		.fill{
		    position: relative;
			width: 900px;


			.nav {
			    position: absolute;
				li {
				    height: 50px;
				    
					a {
                        color: @topbar-a-color;
					}
					a:hover{
						color:#fff;
						background-color: transparent;
					}
				}

				li.active{
		            background:url(/static/style/images/topbar-arrow.png) no-repeat center 39px;

				    a{
						 background-color: transparent;
						 color:#fff;
                         font-weight: bold;
					}
				}
				
                li.only{
                    background: transparent;
                }

            }
			.nav-remind{
				position: absolute;
	            font-size: 14px;
                line-height: @14px-line-height;
                a{
                    color: @topbar-a-color;
                }
                a:hover{
                    color: #ddd;
                }

				a.txt-remind{
	             	.count{
					    position: absolute;
		                background: none repeat scroll 0 0 #cc3d3d;

						border-radius: 30px;
						display: block;
						font-size: 12px;
						line-height: 13px;
						padding: 4px 8px;
						text-decoration: none;
						z-index: 12;
					}

					#invite-count {
                        right: -22px;
                        top: 2px;
                        color: white;
					}


					#remind-count {
						right: -28px;
						top: 3px;
	                    color: #fff;
					}
				}

				a.txt-remind:hover{
					color: #fff;
					cursor: pointer;

					background-color: transparent;
				}
			}

            .nav-setting{
                position: absolute;
	            font-size: 14px;
                line-height: @14px-line-height;
                a{
                    color: @topbar-a-color;
                }

                cursor: pointer;
            }
		}
	}
}

/*topbar*/
.topbar-index{
	height: 100px;
    .container{
        .nav{
            left: 330px; top: 25px;
        }
        .nav-remind{
        	right: 120px; top: 35px;
        }
        .nav-setting{
            right: 0px;top: 35px;
        }

        .fill{
            margin-top: 25px;
            .logo-topbar{
                width: 310px;height: 75px;
                background: url(/static/style/images/logo_2.png);
            }
        }
    }
}


.topbar-detail{
   height: 55px;
    .nav{
        left: 150px; top: 15px;
    }
    .nav-remind{
        right: 120px; top: 25px;
    }
    .nav-setting{
        right: 0px;top: 25px;
    }
}