.tips-history{
	margin-top: 50px;
}

.tips-userinfo{
	margin-top: 30px;
}


.tips{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

	background-color:#ffffff;

    border: solid 1px #999;

    -moz-box-shadow: 2px 2px 0px #666;
    -webkit-box-shadow: 2px 2px 0px #666;
    box-shadow: 2px 2px 0px #666;

	width: 250px;
	float: right;

//    .btn-gaoqi{
//        margin: 40px auto 20px;
//
//        width: 132px; height: 27px;
//        display: block;
//        cursor: pointer;
//        background: url(images/btn-gaoqi.png) no-repeat 0px -27px;
//
//        color: #fff;
//        font-size: 14px;
//        line-height: 27px;
//        text-align: center;
//    }
//
//	.history{
//		.history-title{
//			padding: 4px 10px;
//
//			-webkit-border-top-left-radius: 7px;
//			-webkit-border-top-right-radius: 7px;
//			border-top-left-radius: 7px;
//			border-top-right-radius: 7px;
//			line-height: 23px;
//
//			background: #666;
//			color: white;
//
//			.img-history{
//				height:16px;
//				width: 16px;
//				margin-bottom: -2px;
//				margin-right: 4px;
//			}
//		}
//	}
//
//    .usertags{
//        margin: 10px 0px;
//        padding: 12px 20px;
//        zoom: 1;
//        overflow: hidden;
//
//        .my-tag-title{
//            .title{
//                float:left;
//                font-size: 14px;
//                line-height: @14px-line-height;
//                font-weight: bold;
//                color: #333;
//            }
//            a.more{
//                float: right;
//                font-size: 12px;
//                line-height: @14px-line-height;
//                color: #666;
//                background: transparent;
//            }
//            a.more:hover{
//                color: #999;
//            }
//        }
//
//        ul.my-tag-list{
//            margin:10px 0; padding: 0;
//
//            li{
//                float: left;
//                padding: 0 0 12px; height: 27px; margin: 2px 15px 0 0;
//                font-size: 14px; line-height: 27px;
//                width: 200px;
//                zoom:1;
//                clear: both;
//                span{
//                    display: -moz-inline-stack;  //Firefox only code
//                    display: inline-block;       //some standard browsers
//                    zoom: 1;                     //IE only
//                    *display: inline;            //Only IE know this code (CSS Hack)
//                }
//                a{
//                    display: -moz-inline-stack;  //Firefox only code
//                    display: inline-block;       //some standard browsers
//                    zoom: 1;                     //IE only
//                    *display: inline;            //Only IE know this code (CSS Hack)
//                }
//                .tag{
//                    float: left;
//                    text-align: center;
//                }
//            }
//
//            li.title{
//                font-size: 12px;
//                height: 18px;
//            }
//
//            a.opr{
//                font-size: 12px;
//                color: #666;
//                margin-left: 12px;padding-left: 15px;
//                line-height: 27px;
//                height: 27px;
//                float:left;
//            }
//            a.opr:hover{
//                color: #999;
//            }
//            li.normal{
//                .tag {
//                    color: #444; width: 88px;
//                    background: #4DBAFD;color: white;
//                    -moz-border-radius: 3px;
//                    -webkit-border-radius: 3px;
//                    border-radius: 3px;
//                }
//                a.opr{
//                    background: url(/static/style/images/arrow.png) no-repeat 0 -27px;
//                }
//            }
//            li.active{
//                .tag {
//                    color: #444; width: 88px;
//                    background: #7cdd99;color: white;
//                    -moz-border-radius: 3px;
//                    -webkit-border-radius: 3px;
//                    border-radius: 3px;
//                }
//                a.opr{
//                    background: url(/static/style/images/arrow.png) no-repeat 0 0;
//                }
//            }
//            li.sep{
//                margin:0; padding: 0;
//                height: 10px;
//            }
//
//        }
//    }
//
//	.userinfo{
//		padding: 12px 20px;
//		zoom: 1;
//		overflow: hidden;
//
//		.user-head{
//			margin-bottom:16px;
//
//			zoom: 1;
//			overflow: auto;
//
//			.user-icon{
//			    float:left;
//                margin-right: 4px;
//
//				.img-user-icon{
//					float: left;
//					width:64px;
//					height: 64px;
//					display: block;
//				}
//
//			}
//			.user-card{
//				margin-top: 10px;
//				float: left;
//	            width: 142px;
//
//				.word-break;
//
//                p{
//                    font-size: 14px;
//                    line-height: @14px-line-height;
//                    margin:0px 6px;
//                }
//				.txt-user-name{
//					color: #333;
//					font-weight: bold;
//				}
//	            .txt-desc{
//	                margin-top: 3px;
//	                line-height: 21px;
//	            }
//
//				.user-atten {
//					clear: both;
//					height: 55px;
//
//					ul{
//						margin: 0;
//						padding: 0;
//						border: 0;
//						outline: 0;
//
//						li {
//							border-right-width: 1px;
//							min-width: 43px;
//							float: left;
//							padding-left: 3px;
//							line-height: 1.6em;
//							white-space: nowrap;
//							list-style: none;
//						}
//
//						.li-left {
//							border-style: solid;
//							border-color: #BEC0C9;
//						}
//
//					}
//				}
//			}
//
//		}
//
//		.user-signature{
//			padding: 0;
//			margin: 0;
//
//			.txt-user-signature{
//				color:#999;
//				font-size: 12px;
//				margin:0;
//			}
//
//		}
//	}

    .btn-holer{
        margin: 30px auto 10px;
        text-align: center;

        .btn-gaoqi{
            padding: 9px 28px 10px;

            font-size: 18px;
            font-weight: bolder;
            background: #1aa362;
        }
        .btn-gaoqi:hover{
            background: #1d925a;
        }
    }

    .my-tag-title{
        padding: 16px;

        .title{
            float:left;
            font-size: 14px;
            line-height: @14px-line-height;
            font-weight: bold;
            color: #333;
        }
        a.more{
            float: right;
            font-size: 12px;
            line-height: @14px-line-height;
            color: #666;
            background: transparent;
        }
        a.more:hover{
            color: #999;
        }

    }

    ul.my-tag-list{
        margin:20px 16px; padding: 0;

        li{
            display: -moz-inline-stack;  //Firefox only code
            display: inline-block;       //some standard browsers
            zoom: 1;                     //IE only
            *display: inline;            //Only IE know this code (CSS Hack)
            
            padding: 0 0 8px; height: 27px; margin: 2px 10px 0px 0;
            zoom:1;
            clear: both;

            span.label {
                position: relative;
                padding: 4px 8px 5px;
                font-size: 14px;
                font-weight: bold;
                color: white;
                text-transform: uppercase;
                white-space: nowrap;
                background-color: #BFBFBF;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;

                .delete{
                    display: none;
                    margin-top: 7px;
                }
            }

             span.tag{
                background-color: #62CFFC;
                cursor: pointer;
             }

             span.tag:hover{
                background-color: #3aaad8;
             }
        }
    }
}

