.icon-size-16-16{
	width: 16px;
	height: 16px;
	display: block;
	background: url(images/icons.png) no-repeat;
}


/** icons 定义 **/
.icon-clock {
	.icon-size-16-16;
	background-position: 0px 0px;
}

.icon-plus {
	.icon-size-16-16;
	background-position: 0px -32px;
}

.icon-unlock {
	.icon-size-16-16;
	background-position: 0px -64px;
}

.icon-lock {
	.icon-size-16-16;
	background-position: 0px -96px;
}

.icon-face-smile {
	.icon-size-16-16;
	background-position: 0px -128px;
}

.icon-face-sad {
	.icon-size-16-16;
	background-position: 0px -160px;
}

.icon-message {
	.icon-size-16-16;
	background-position: 0px -192px;
}

.icon-person {
	.icon-size-16-16;
	background-position: 0px -224px;
}

.icon-content {
	.icon-size-16-16;
	background-position: 0px -256px;
}

.icon-edit {
	.icon-size-16-16;
	background-position: 0px -288px;
}

.icon-comment {
	.icon-size-16-16;
	background-position: 0px -320px;
}

.icon-sina {
	.icon-size-16-16;
	background-position: 0px -352px;
}


/***  黑底图标 **/
.icon-unlock-b{
	.icon-size-16-16;
	background-position: 0px -384px;
}
.icon-lock-b {
	.icon-size-16-16;
	background-position: 0px -416px;
}
.icon-face-smile-b {
	.icon-size-16-16;
	background-position: 0px -448px;
}
.icon-face-sad-b {
	.icon-size-16-16;
	background-position: 0px -480px;
}


/*** 搞起按钮 ***/
.btn-gaoqi-main {
	width: 102px; height: 41px;
	display: block;
	cursor: pointer;
	background: url(images/btn-gaoqi-main.png) no-repeat 0px 0px;

    color: #fff;
    font-size: 18px;
    line-height: 42px;
    text-align: right;
    padding-right: 54px;
}


.btn-gaoqi-main:hover{
	background-position: 0px -41px;
    color: #fff;
    text-decoration: none;
}

.btn-gaoqi-main.disabled {
    opacity: 0.2;
    filter: alpha(opacity=20);
    -ms-filter: "alpha(opacity=20)";
    zoom:1;/* set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower */
}

.btn-gaoqi-main.disabled:hover{
	background-position: 0px -0px;
}




.btn-reg {
	width: 193px; height: 42px;
	display: block;
	cursor: pointer;
	background: url(images/btn-reg.png) no-repeat 0 0;
    color: #333;
    font-size: 18px;
    line-height: 42px;
    padding-left: 30px;
}
.btn-reg:hover{
	background-position: 0 -42px;
}

.btn-signin {
	width: 75px; height: 29px;
	display: block;
	cursor: pointer;
	background: url(images/btn-signin.png) no-repeat 0 0;
}
.btn-signin:hover{
	background-position: 0 -29px;
}
