/*
 * Scaffolding
 * Basic and global styles for generating a grid system, structural layout, and page templates
 * ------------------------------------------------------------------------------------------- */


// GRID SYSTEM
// -----------

.row {
  .clearfix();
  margin-left: -1 * @gridGutterWidth;

  // Find all .span# classes within .row and give them the necessary properties for grid columns (supported by all browsers back to IE7)
  // Credit to @dhg for the idea
  [class^="span"] {
    display: inline;
    float: left;
    margin-left: @gridGutterWidth;
  }

  // Default columns
  .span1     { .columns(1); }
  .span2     { .columns(2); }
  .span3     { .columns(3); }
  .span4     { .columns(4); }
  .span5     { .columns(5); }
  .span6     { .columns(6); }
  .span7     { .columns(7); }
  .span8     { .columns(8); }
  .span9     { .columns(9); }
  .span10    { .columns(10); }
  .span11    { .columns(11); }
  .span12    { .columns(12); }
  .span13    { .columns(13); }
  .span14    { .columns(14); }
  .span15    { .columns(15); }
  .span16    { .columns(16); }

  // Offset column options
  .offset1   { .offset(1); }
  .offset2   { .offset(2); }
  .offset3   { .offset(3); }
  .offset4   { .offset(4); }
  .offset5   { .offset(5); }
  .offset6   { .offset(6); }
  .offset7   { .offset(7); }
  .offset8   { .offset(8); }
  .offset9   { .offset(9); }
  .offset10  { .offset(10); }
  .offset11  { .offset(11); }
  .offset12  { .offset(12); }

  // Unique column sizes for 16-column grid
  .span-one-third     { width: 300px; }
  .span-two-thirds    { width: 620px; }
  .offset-one-third   { margin-left: 340px; }
  .offset-two-thirds  { margin-left: 660px; }
}


// STRUCTURAL LAYOUT
// -----------------
body {
  margin: 0;
  #font > .sans-serif(normal,@basefont,@baseline);
  color: @gray;
}

// Container (centered, fixed-width layouts)
.container {
  width: 940px;
  margin: 0 auto;
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding: 0 20px;
  .clearfix();
  > .sidebar {
    float: left;
    width: 220px;
  }
  // TODO in v2: rename this and .popover .content to be more specific
  > .content {
    min-width: 700px;
    max-width: 1180px;
    margin-left: 240px;
  }
}


// BASE STYLES
// -----------

// Links
a {
  color: @linkColor;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
  &:hover {
    color: @linkColorHover;
    text-decoration: underline;
    cursor: pointer;
  }
}
