@import "gaoqi-common.less";
body {
	font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
	background-color: #d5e0db;
	height: 100%;
	width: 100%;
}



ol, ul, li {
	list-style: none;
}

// Inputs, Textareas, Selects
input,
textarea,
select,
.uneditable-input {
    display: -moz-inline-stack;  //Firefox only code
    display: inline-block;       //some standard browsers
    zoom: 1;                     //IE only
    *display: inline;            //Only IE know this code (CSS Hack)
    width: 210px;
    height: @baseline;
    padding: 4px;
    font-size: 13px;
    line-height: @baseline;
    color: #333;
    border: 1px solid #ccc;
    .border-radius(3px);
}
.error-input{
	border: 1px solid #DA0000;
}


.word-break{
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal
}

.pop-container{
	background: #000;
	opacity: 0.85;
	filter: alpha(opacity=85);
	-ms-filter: "alpha(opacity=85)";
	zoom:1;/* set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower */
}

/*input*/
.gray-border {
	border: solid 1px lightGrey;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	-moz-box-shadow: 0 0px 0 3px #f0f5f6,0 1px 2px 3px #f2f2f2 inset;
	-webkit-box-shadow: 0 0px 0 3px #f0f5f6,0 1px 2px 3px #f2f2f2 inset;
	box-shadow: 0 0 0px 3px #f0f5f6,0 1px 2px 3px #f2f2f2 inset;

	padding:2px;


	// Focus states
	input, select, textarea {
		box-shadow: none;
	}
	input:focus, textarea:focus {
		outline: none;
		border: 0;
		box-shadow: none;
	}

	input[type="text"], input[type="password"], textarea{
		font-family: "Microsoft YaHei" , Arial, Verdana, "Lucida Grande" , "Bitstream Vera Sans" , sans-serif;

		overflow: hidden;
		resize: none;

		border: 0px;
	}
	input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
		border: 0px;
	}
}






/*avatar*/
.activity-avatar {
	float: left;
	position: relative;
	background: #fff;
	background: -webkit-gradient(linear,left top,left bottom,from(rgba(255, 255, 255, .9)),to(rgba(242, 242, 242, .9)),color-stop(0.9,rgba(233, 233, 233, .9)));
	background: -moz-linear-gradient(top,rgba(255, 255, 255, .9),rgba(233, 233, 233, .9) 90%,rgba(242, 242, 242, .9));
	background: linear-gradient(top,rgba(255, 255, 255, .9),rgba(233, 233, 233, .9) 90%,rgba(242, 242, 242, .9));

	width: 50px;
	height: 50px;
	padding: 4px;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;

	border: 1px solid rgba(0, 0, 0, .2);

	.img-avatar{
		width: 50px;
		height: 50px;

		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}
}


/*avatar-grid*/
.icon{
    display: block;
    background-position: center center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-indent: -9999px;
    outline: none;
    -moz-box-shadow: 0 1px 2px #b0b3b6;
    -webkit-box-shadow: 0 1px 2px #b0b3b6;
    box-shadow: 0 1px 2px #b0b3b6;
    background-color: #B0B3B6;
}
.avatar_grid{
    display: -moz-inline-stack;  //Firefox only code
    display: inline-block;       //some standard browsers
    zoom: 1;                     //IE only
    *display: inline;            //Only IE know this code (CSS Hack)
	margin-right:3px;



	.img-participators{
		height:32px;
		width:32px;
    }
    .unrecognized{
        opacity: 0.3;
        filter: alpha(opacity=30);
         -ms-filter: "alpha(opacity=30)";
        zoom:1;/* set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower */
    }
}

.avatar_grid_confirmed{
	display: -moz-inline-stack;  //Firefox only code
    display: inline-block;       //some standard browsers
    zoom: 1;                     //IE only
    *display: inline;            //Only IE know this code (CSS Hack)
	margin-right: 10px;
    margin-top: 20px;
    width: 84px;
    vertical-align: top;
    text-align: center;


    .img-confirmed-participators{
        width: 50px;
        height: 50px;

        margin: 0 17px;
    }
    p{
        margin-bottom: 0px;
        color: @foreground-color;
        font-size: 14px;
        line-height: @14px-line-height;
    }
}


/*pop*/
.pop {
	position: relative;

    .pop-triangle {
		background: url(images/triangle.png) no-repeat 0 0;
		height: 13px;
		width: 9px;
		position: absolute;
		z-index: 1;
	}

	.pop-content {
		margin-bottom: 0;
        padding: 15px 20px;

        .activity-empty-no-title{
            margin: 24px 0 0px 20px;
            font-size: 18px;
        }
        .activity-info{
            margin: 16px 0 0 0;
            text-align: center;
            font-size: 14px;
            line-height: @14px-line-height;
        }

        .activity-beg{
            margin: 10px 0 0 0;
            text-align: center;
            font-size: 18px;
            font-weight: bolder;
            
            line-height: @18px-line-height;
            a{
                color: @foreground-color;
                text-decoration: none;
            }
            a:hover{
                color: @foreground-color-hover;
            }
        }
        .activity-empty-title{
            margin: 40px 0 30px 20px;
            font-size: 18px;
        }
	}
}

@import "gaoqi-activity.less";



/*tips*/


@import "gaoqi-topbar.less";

@import "gaoqi-tips.less";

@import "gaoqi-login.less";
@import "gaoqi-register.less";
@import "gaoqi-index.less";
@import "gaoqi-usersel.less";




/*pop invitation and notification*/

.gaoqi-pop-container{
	.pop-container;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;

	border: 1px solid rgba(0, 0, 0, .2);

    border: solid 1px #999;
    /*-webkit-box-shadow: 0 0 5px #999;*/
    /*-moz-box-shadow: 0 0 5px #999;*/
    /*-o-box-shadow: 0 0 5px #999;*/
    /*box-shadow: 0 0 5px #999;*/

	position: absolute;
    right: -120px; top: 40px;
	width: 388px;
	padding: 12px 24px;
	z-index: 999;
	font-size: 14px;

	.gaoqi-pop-arow{
		background: url("/static/style/images/noti-arrow.png") no-repeat;
		width: 25px;
		height: 12px;
		position: absolute;
	}
	.arow-noti{
		top: -12px;
		right: 58px;
	}
	.arow-invitation{
		top: -12px;
		right: 114px;
	}

	.gaoqi-pop-ul{
		padding: 0;
		width:100%;

		.gaoqi-pop-li{
			color: white;
			width:100%;
			padding: 10px 0px;
			margin: 0;
			border: 0;
			text-shadow: 0 1px 0 rgba(0, 0, 0, 0.898)!important;

			.pop-info{
				line-height: 23px;

				a{
					display: inline;
					padding: 0px;
				}
				a:hover{
					background: transparent;
					cursor: pointer;
				}
				.gaoqi-pop-img{
                    display: -moz-inline-stack;  //Firefox only code
                    display: inline-block;       //some standard browsers
                    zoom: 1;                     //IE only
                    *display: inline;            //Only IE know this code (CSS Hack)
					float: left;
					margin-right: 10px;
					vertical-align: middle;

					.img-pop-user{
						width:36px;
						height:36px;
						padding: 6px 4px;
					}
					.gaoqi-pop-info{
						display: table-cell;
						height: 32px;
						overflow: hidden;
						padding: 1px 0;
						vertical-align: middle;
						width: auto;
					}
				}

			}

			.alink-ignore{
				color:#999;

			}
			.alink-ignore:hover{
				color:#fff;
				cursor: pointer;
			}


		}

		.gaoqi-pop-hr{
			border: none;
			border-top: 1px solid rgba(0, 0, 0, 0.2);
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			clear: both;
			height: 0;
			margin: 0;
		}

	}

	.btn{
		margin-top: 10px;
	}


}




/*gaoqi dialog */

.popup-block-inner, .popup-block
{
    top: 0px;
    left: 100px;
    float: left;
    display: block;
    width: 360px;
    background: #fff;
    padding: 25px;
    border: 10px solid #52cc8f;
    border-radius: 10px;
}
.popup-block
{
    position: absolute;
	width: 400px;
	height: 'auto';

	z-index: 400;
    display: none;
    float: left;
    font-size: 18px;
    position: fixed;

	.icon-clock, .icon-content, .icon-comment, .icon-person{
		vertical-align: baseline;
        *vertical-align: 5px;
        *margin-right: 3px;

        display: -moz-inline-stack;  //Firefox only code
        display: inline-block;       //some standard browsers
        zoom: 1;                     //IE only
        *display: inline;            //Only IE know this code (CSS Hack)
		overflow: hidden;
	}

	.dialog-title{
		color:#333;
		font-size: 18px;
		line-height:@18px-line-height;
        margin-bottom: 12px;
	}

	.dialog-content{
		color:#333;
		font-size:14px;

		margin: 0 0 10px 0;

		.txt-title-dialog{
			font-size: 25px;
			height:2 * @14px-line-height;
			width:386px;

			color:#333;
			line-height:@14px-line-height;
		}

		.txt-detail-dialog{
			height:4 * @14px-line-height;
			width:386px;

			color:#333;
			font-size: 14px;
			line-height:@14px-line-height;
		}

		.inline-border{
			display: -moz-inline-stack;  //Firefox only code
            display: inline-block;       //some standard browsers
            zoom: 1;                     //IE only
            *display: inline;            //Only IE know this code (CSS Hack)
            margin-right: 20px;
			
			.txt-start-date{
				width : 78px;

				border: 0px;

				color:#333;
				font-size: 14px;
				line-height:@14px-line-height;
			}
			.txt-start-time{
				width : 48px;

				border: 0px;

				color:#333;
				font-size: 14px;
				line-height:@14px-line-height;
			}

		}

        .txt-nice-time{
            margin: 10px 0 0 0 ;
        }
	}

	.btn-content {
		padding: 0;

		.daliog-btn{
			float: right;
		}
	}
}

#overlay
{
    background: #5d5d60;
    opacity: 0.3;
	filter: alpha(opacity=30);
	-ms-filter: "alpha(opacity=30)";
	zoom:1;/* set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower */

	bottom: 0;
    display: -webkit-box;
    left: 0;
    padding: 20px;
    padding-bottom: 130px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;
}

.close
{
    float: right;
    margin: -10px 0 0 0;
	color: #ccc;
	font-size: 14px;

	cursor: pointer;
}
.close:hover
{
	color: #666;
}

*html #overlay
{
    position: absolute;
}
*html .popup-block
{
    position: absolute;
}





//timepicker
#ui-timepicker-div{
	z-index: 999
}


.display-status-info{
    .word-break;
    
    position: fixed;
    width: 200px;
    min-height: 24px;
    padding: 15px 20px;

    bottom: -100px;
    right: 30px;
    
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    background-color: #2CB4DA;
    border: 3px solid #298EBD;
    border-bottom: none;

    z-index: 10000;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
.snap-status-info
{
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    -o-border-bottom-left-radius: 0;
    -ms-border-bottom-left-radius: 0;
    -khtml-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    -o-border-bottom-right-radius: 0;
    -ms-border-bottom-right-radius: 0;
    -khtml-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.back-to {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999;
    width: 110px;
    overflow: hidden;
    zoom: 1;
    -ie6-position-fixed-delay: 200;

    display: none;

    .back-top {
        float: right;
        display: block;
        width: 50px;
        height: 50px;
        background: url(images/back-top.png) no-repeat 0 0;
        margin-left: 10px;
        outline: 0 none;
        text-indent: -9999em;
    }
    .back-top:hover {
        background-position: -50px 0;
    }

    .back-home{
        float: right;
        display: block;
        width: 50px;
        height: 50px;
        background: url(images/back-home.png) no-repeat 0 0;
        outline: 0 none;
        text-indent: -9999em;
    }
    .back-home:hover {
        background-position: -50px 0;
    }
}

.name-card{
    .clearfix {
        display: block;
        margin-bottom: 0px;
    }
    dl.name {
        padding: 5px 15px;
        zoom: 1;

        dd ,dt{
            float: left;
            display: inline;
        }

        dd {
            margin: -4px 0 0 10px;
            line-height: 23px;

            p{
                margin:0px;
            }
            .icon-sina{
                display: -moz-inline-stack;  //Firefox only code
                display: inline-block;       //some standard browsers
                zoom: 1;                     //IE only
                *display: inline;            //Only IE know this code (CSS Hack)
                margin: 0 4px -2px 0;
            }
        }
        dt{
        }
    }
    dl.info{
        padding: 0px 15px;
        line-height: 18px;
        width: 200px;

         dd {
            margin-left:0;
            line-height: 23px;

            .user-status{
                 font-weight:bold;
                 color:@foreground-color;
            }
            .user-change-status{
                margin: 0 10px;

                .btn{
                    padding: 2px 8px;
                }
                .user-quite{
                    color:#999;
                }
            }
         }
    }
    

}
