<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>去邮箱，注册账号</title>
    <!--<link href="/static/style/site.css" rel="stylesheet" type="text/css" />-->
    <link href="/static/style/bootstrap.less" rel="stylesheet/less" type="text/css" />
    <script src="/static/js/lib/less.js"></script>
    
    <script src="/static/js/lib/LAB.min.js"></script>

    <script>
        $LAB.script('/static/js/lib/jquery-1.6.2.min.js').wait()
            .script('/static/js/lib/underscore-min.js').wait()
            .script('/static/js/lib/backbone.min.js')
            .script('/static/js/lib/jquery-ui-1.8.16.custom.min.js')
            .script('/static/js/lib/jquery.ui.timepicker.js')
            .script('/static/js/lib/jquery.tmpl.js')
            .script('/static/js/lib/jquery.validate.min.js')
            .script('/static/js/lib/sea.js').wait()
            .script('/static/js/settings.js').wait(function (){
                seajs.use('/static/js/active-mail');
            });
    </script>
</head>
<body id="active-mail">

    <div id="page">
        <div id="head">
            <h1 class="logo-white"></h1>
        </div>
        <div id="content">
            <h2>注册成功，现在去激活账号吧！</h2>
            <p>
            搞起已经向你的邮箱{{ email|escape }}发送了一封确认邮件<br/>
            点击邮件里的确认链接即可激活帐号<!--若邮箱拼写错误，请 修改邮箱>>-->
            </p>
            <p class="tip">你也可用你的注册邮箱向jihuo@gaoqi.fm发一封任意内容的邮件，2分钟后即可自动激活。</p>
            <h3>没有收到邮件？试试看：</h2>
            <ul>
                <li>到邮箱中的垃圾邮件、广告邮件目录中找找</li>
                <!--<li>真的没有收到？点这里<a>重发确认邮件</a></li>-->
            </ul>

        </div>
    </div>
{% extends "ga.html" %}
</body>
</html>
