<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width">
    <title>搞起 - 和朋友们一起搞活动</title>
    <link href="/static/style/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />
    <link href="/static/style/jquery.ui.timepicker.css" rel="stylesheet" type="text/css" />
    
    <!--<link href="/static/style/site.css" rel="stylesheet" type="text/css" />-->
    <link href="/static/style/bootstrap.less" rel="stylesheet/less" type="text/css" />
    <script src="/static/js/lib/less.js"></script>

    <script src="/static/js/lib/LAB.min.js"></script>
    <script>
        $LAB.script('/static/js/lib/jquery-1.6.2.min.js').wait()
            .script('/static/js/lib/underscore-min.js').wait()
            .script('/static/js/lib/backbone.min.js')
            .script('/static/js/lib/jquery-ui-1.8.16.custom.min.js')
            .script('/static/js/lib/jquery.ui.timepicker.js')
            .script('/static/js/lib/jquery.tmpl.js')
            .script('/static/js/lib/sea.js').wait()
            .script('/static/js/settings.js').wait(function (){
                seajs.use('/static/js/activity-public');
            });
    </script>
<body>
    <div class="topbar topbar-detail">
        <div class="fill">
            <div class="container">
                <a class="logo-topbar"></a>
            </div>
        </div>
    </div>

    <div class="container" id="activity-container">

        <div class="activity-tips">
            <h1>快登录搞起，和朋友们一起去活动活动吧</h1>
            <a id="btn-sinaweibo-connect" href="/connect/sinaweibo/go">
                <img src="/static/style/images/sina_weibo_login.png" />
            </a>

            <div id="simple-activity" style="margin-left: -42px;">

            </div>
        </div>


    </div>


    <div id="toolBackTo" class="back-to" style="">
        <a class="back-top" href="#top" onclick="window.scrollTo(0,0);return false;" title="返回顶部">返回顶部</a>
        <a class="back-home" href="/" title="返回首页" >返回首页</a>
    </div>

    <<script type="text/template" id="tpl-simple-activity">
        <div class="activity-content">
            <div class="activity activity-text" data-comment="1">
                <div class="activity-avatar">
                    <img src="<%= owner.profile_image_url%>" title="<%= owner.profile_image_url%>" class="img-avatar">
                </div>
                <div class="activity-content-holder pop">
                    <div class="pop-triangle">
                    </div>
                    <div class="pop-content clearfix">
                        <div class="activity-bd">
                            <div class="activity-lab">
                                <span id="activityTitile" class="txt-activity-title"><%= owner.username%>：<%= text %></span>&nbsp;&nbsp<span class="release-time"><%= created_at_str %></span>
                            </div>
                        </div>
                        <div class="activity-hd">
                            <div class="activity-lab">
                                <a class="icon-clock" title="计划活动时间"></a>
                                <span id="activityTime" class="txt-activity-time"><%= plan_at_str%></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </script>
{% extends "ga.html" %}
</body>
</html>
