﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width">
    <title>搞起 - 和朋友们一起搞活动</title>
    <link href="/static/style/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />
    <link href="/static/style/jquery.ui.timepicker.css" rel="stylesheet" type="text/css" />
     <link href="/static/style/tipped.css" rel="stylesheet" type="text/css" />

    <!--<link href="/static/style/site.css" rel="stylesheet" type="text/css" />-->
    <link href="/static/style/bootstrap.less" rel="stylesheet/less" type="text/css" />
    <script src="/static/js/lib/less.js"></script>
    <script src="/static/js/lib/LAB.min.js"></script>
    <script>
        $LAB.script('/static/js/lib/jquery-1.6.2.min.js').wait()
            .script('/static/js/lib/json2.js').wait()
            .script('/static/js/lib/underscore-min.js').wait()
            .script('/static/js/lib/backbone.min.js')
            .script('/static/js/lib/jquery-ui-1.8.16.custom.min.js')
            .script('/static/js/lib/jquery.ui.timepicker.js')
            .script('/static/js/lib/jquery.tmpl.js')
            .script('/static/js/lib/excanvas.js').wait()
            .script('/static/js/lib/spinners.js').wait()
            .script('/static/js/lib/tipped.js')
            .script('/static/js/lib/sea.js').wait()
            .script('/static/js/settings.js').wait(function (){
                seajs.use('/static/js/activity');
            });
    </script>
</head>

<body>
    <div class="topbar topbar-detail">
    </div>
    <div class="container" id="activity-container">
    </div>
    <div id="toolBackTo" class="back-to" style="">
        <a class="back-top" href="#top" onclick="window.scrollTo(0,0);return false;" title="返回顶部">返回顶部</a>
        <a class="back-home" href="/" title="返回首页" >返回首页</a>
    </div>

<script type="text/template" id="activity-detail">
    <div class="activity-status" data-comment="1">
    </div>
    <div class="activity activity-text" data-comment="1">
        <div class="activity-avatar">
            <img src="<%= owner.profile_image_url%>" title="<%= owner.username%>" class="img-avatar" />
        </div>
        <div class="activity-content-holder pop">
            <div class="pop-triangle">
            </div>
            <div class="pop-content clearfix">
                <div class="activity-hd">
                    <div class="activity-lab">
                        <span class="icon-clock"></span>
                        <span id="activityTime" class="txt-activity-time"><%= plan_at_str%></span>
                        <span class="icon-edit" id="edit-time" title="点击修改"></span>
                    </div>
                </div>
                <div class="activity-bd">
                    <div class="activity-lab activity-title-holder">
                        <span id="activityTitile" class="txt-activity-title"><%= text%></span>
                        <span class="icon-edit" id="edit-title" title="点击修改"></span>
                        <p class="release-time"><%= created_at_str %>搞起</p>
                    </div>
                    <div class="activity-action">
                        <div class="active-btn" style=" display:none;">
                            <button class="btn success action" id="btn-confirm">
                                确定参加</button>
                            <button class="btn info action" id="btn-maybe">
                                可能参加</button>
                        </div>
                        <div>
                            <p class="mine-status" style=" display:none;"  id="beSure">我会参加这个活动</p>
                            <p class="mine-status" style=" display:none;" id="maybe">我对这个活动感兴趣</p>
                        </div>
                        <div style=" margin-top:10px;">
                            <span class="action"  style=" display:none;" id="link-confirm">
                                <a>> 确定参加</a>
                            </span>
                             <span class="action"  style=" display:none;" id="link-quit">
                                <a>> 不参加了</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="activity-participators">
                    <div class="activity-invite" id="btn-invite">
                        <span class="icon-plus"></span>
                        叫更多朋友一起来
                    </div>
                    <div class="activity-lab">
                        <span class="icon-person"></span>
                        <span class="txt-activity-lab">确定参加的人</span>
                    </div>
                    <div class="avatar-container">
                        <div id="confirmedParticipatorList">
                        </div>
                        <div id="unconfirmedParticipatorList" style="   margin:20px 0 0 0;">
                        </div>
                    </div>
                </div>
                <div class="activity-detail">
                    <div class="activity-lab">
                        <span class="icon-content"></span>
                        <span class="txt-activity-lab">活动细节</span>
                        <span class="icon-edit" id="edit-detail" title="点击修改"></span>
                    </div>
                    <div class="txt-activity-detail">
                            <a id="addDetail">添加活动细节</a>
                            <span id="activityDetail"><%= detail_text.changeLineToBr() %></span>
                    </div>
                </div>
                <div class="activity-comment">
                    <div class="activity-lab">
                        <span class="icon-comment"> </span>
                        <span class="txt-activity-lab">大家的留言</span>
                    </div>
                    <div class="comment-container">
                        <div class="btn-comment">
                            <button class="btn" id="btn-comment" disabled="disabled">
                                留言</button>&nbsp;
                        </div>
                        <div class="gray-border">
                            <textarea id="newComment" name="" class="txt-content comment"></textarea>
                        </div>
                        <div class="feed_list" id="feedList">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog-confirm" title="退出活动" style=" display:none;">
	    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>亲，您确定不会参加这个活动了吗？</p>
    <div>
</div>
</script>
    
<script type="text/template" id="tpl-activity-participator">
    <img title="<%= user.username%>" src="<%= user.profile_image_url %>" class="icon img-participators <%= status_class %>"/>
</script>
<script type="text/template" id="activity-confirmed-participator">
    <img title="<%= user.username%>" src="<%= user.profile_image_url %>" class="icon img-confirmed-participators"/>
    <p><%= user.username%></p>
</script>
<script type="text/template" id="comment-content">
    <dt class="face">
        <img src="<%= sender.profile_image_url %>" class="icon img-participators"/>
    </dt>
    <dd class="feed-content">
        <p node-type="feed_list_content">
            <span class="user-name"><%= sender.username %>：</span>&nbsp;
            <span><%= text %></span>
        </p>
        <p class="info">
            <span class="link-comment" >
                <a action-type="feed_list_comment" class="reply-comment">回复<%= replies_count_str %></a>
            </span>
            <span  class="date"><%= created_at_str %></span>
        </p>
        <div  class="repeat" style="display:none;">
            <div class="arrow"><span>◆</span></div>
            <div class="input" node-type="commentList">
                <textarea class="reply-holder" style="overflow-x: hidden; overflow-y: hidden; height: 20px; " rows="" cols=""></textarea>
                <div style=" height: 40px;">
                    <button class="btn btn-reply"  disabled="disabled">回复</button>
                </div>
                <div id="replyList">
                </div>
            </div>
        </div>
    <dd class="clear"></dd>
</script>

<script type="text/template" id="comment-reply-content">
    <dl class="comment_list">
        <dt>
            <img alt="" title="<%= sender.username %>" src="<%= sender.profile_image_url %>"  class="icon img-participators" width="30" height="30" />
        </dt>
        <dd>
            <span class="user-name"><%= sender.username %>：</span>&nbsp;
            <span class="info"><%= text %></span>&nbsp;
            <span>( <%= created_at_str %> )</span>
        </dd>
        <dd class="clear"></dd>
    </dl>
</script>



<script type="text/template" id="tpl-topbar">
    <div class="fill">
        <a id="logo" class="logo-topbar"></a>
        <div class="nav-remind">
            <a id="txt-invitation" class="txt-remind">邀请<span id="invite-count" class="count"><%= invitations.length%></span></a>
            <!--<a id="txt-notification" class="txt-remind">通知<span id="remind-count" class="count"><%= notifications.length %></span></a>-->
        </div>
        <div class="nav-setting"><a id="txt-exit" class="txt-remind">退出</a> </div>
</div>
</script>

<script type="text/template" id="activity-status">
<div class="status-item" id="activityStatusInfo">
    <span class="<%= available_class %>"></span>
    <span class="txt-status"><%= available_info %></span>
    <div class="status-conbox" id="StatusConbox" style="display:none;">
        <div class="status-info">
            <span class="<%= available_class %>"></span>活动<%= available_info %>
            <span class="<%= available_class %>"></span>活动<%= available_info %>
        </div>
        <p class="status-des"><%= available_des %></p>
        <button class="btn" id="changeAvailability"><span class="<%= available_op_class %>"></span><%= available_op_info %></button>
    </div>
</div>
<div class="status-item" id="activityOpenInfo">
    <span class="<%= visibile_class %>"></span>
    <span class="txt-status"><%= visibile_info %></span>
    <div class="status-conbox" id="OpenConbox" style="display:none;">
        <div class="status-info">
            <span class="<%= visibile_class %>"></span>活动<%= visibile_info %>
        </div>
        <p class="status-des"><%= visibile_des%></p>
        <button class="btn" id="changeVisibily"><span class="<%= visibile_op_class %>"></span><%= visibile_op_info %></button>
    </div>
</div>
</script>


<script type="text/template" id="title-edit-container">
    <div class="dialog-title">
        <a class="close"> x 关闭 </a>
        <span class="icon-content"></span>
        <span class="img-title">活动标题</span>
    </div>
    <div class="dialog-content gray-border">
        <textarea name="" class="txt-content txt-title-dialog"></textarea>
    </div>
    <div class="btn-content">
        <button class="btn daliog-btn" id="editTitle" >确定</button>
    </div>
</script>


<script type="text/template" id="detail-edit-container">
    <div class="dialog-title">
        <a class="close"> x 关闭 </a>
        <span class="icon-content"></span>
        <span class="img-title">活动细节</span>
    </div>
    <div class="dialog-content gray-border">
        <textarea name="" class="txt-content txt-detail-dialog"></textarea>
    </div>
    <div class="btn-content">
        <button class="btn daliog-btn" id="editDetail" >确定</button>
    </div>
</script>

<script type="text/template" id="time-edit-container">
    <div class="dialog-title">
        <a class="close"> x 关闭 </a>
        <span class="icon-clock"></span>
        <span class="img-title">活动时间</span>
    </div>
    <div class="dialog-content">
        <div class="inline-border gray-border" style="width:86px">
            <input type="input" id="startDate" class="txt-start-date" readonly="readonly"/>
        </div>
        <div class="inline-border gray-border" style="width:56px">
            <input type="input" id="startTime" class="txt-start-time" readonly="readonly"/>
        </div>
        <p class="txt-nice-time" id="txt-dateDiff"></p>
    </div>
    <div class="btn-content">
        <button class="btn daliog-btn" id="editTime">确定</button>
    </div>
</script>


<script type="text/template" id="overlay-container">
    <div id="overlay" class="overlay"></div>
</script>


<script type="text/template" id="user-sel-container">
    <div class="dialog-title">
        <a class="close"> x 关闭 </a>
        <span class="icon-person"></span>
        <span class="img-title">邀请朋友来参加“<%= text %>”活动</span>
    </div>
    <div class="holder">
        <div class="sites">
            <div class="category">
                <ul>
                    <li class='disabled'><span class="icon find-gaoqi">搞起</span></li>
                    <li class='active'><span class="icon find-sinaweibo">新浪微博</span></li>
                </ul>
            </div>
            <div class="find-friends">
                <span class="lbl-weibo-tip">输入微博用户名邀请：</span><span class="lbl-weibo-user">你已绑定新浪账号 @<%= me.username %></span><br/>
                <div class="sinaweibo-search">
                    <input type="text" id="txt-sinaweibo-search" class="txt-search" placeholder="微博用户名"/>
                    <a class="btn-search icon-person" style="display:inline-block;"></a>
                </div>
            </div>
        </div>
        <div class="friends-choosen">
            <div class="friends-title">已经选择的朋友:</div>
            <div class="friends-list">
            </div>
        </div>
        <div class="operation">
            <label class="" for="check-send"><input id="check-send" type="checkbox" checked />&nbsp;发一条消息让大家来参加活动</label>
            <br/>
            <textarea class="weibo-content"></textarea>
            <button id="btn-invite" class="btn success">邀请</button>
        </div>
    </div>
</script>

<script type="text/template" id="user-selector-row">
    <div class="selector-row" id="<%= weibo_id %>" role="option" style="-webkit-user-select: none; ">
        <a href="javascript:;" title="<%= screen_name %>" style="-webkit-user-select: none; ">
            <img class="avtar" src="<%= profile_image_url %>" style="-webkit-user-select: none; ">
            <span style="-webkit-user-select: none; "><%= screen_name %></span>
        </a>
    </div>
</script>
{% extends "ga.html" %}
</body>
</html>