<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width">
    <title>搞起 - 和朋友们一起搞活动</title>
    <link href="/static/style/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />
    <link href="/static/style/jquery.ui.timepicker.css" rel="stylesheet" type="text/css" />
     <link href="/static/style/tipped.css" rel="stylesheet" type="text/css" />

    <!--<link href="/static/style/site.css" rel="stylesheet" type="text/css" />-->
    <link href="/static/style/bootstrap.less" rel="stylesheet/less" type="text/css" />
    <script src="/static/js/lib/less.js"></script>

    <script src="/static/js/lib/LAB.min.js"></script>
    <script>
        $LAB.script('/static/js/lib/jquery-1.6.2.min.js').wait()
            .script('/static/js/lib/underscore-min.js').wait()
            .script('/static/js/lib/backbone.min.js')
            .script('/static/js/lib/jquery-ui-1.8.16.custom.min.js')
            .script('/static/js/lib/jquery.ui.timepicker.js')
            .script('/static/js/lib/jquery.tmpl.js')
            .script('/static/js/lib/spinners.js').wait()
            .script('/static/js/lib/tipped.js')
            .script('/static/js/lib/sea.js').wait()
            .script('/static/js/settings.js').wait(function (){
                seajs.use('/static/js/choose-tags');
            });
    </script>
</head>

<body id="choose-tags">
    <div id="page">
        <div id="head">
            <h1 class="logo-1"></h1>
        </div>
        <div id="content">
            <p class="tip">Hi, <span class="strong">{{ cu.username }}</span>,欢迎来到 搞起！，先选择一些你感兴趣的活动主题吧！</p>
            <div id="tag-selector">

            </div>
            <div class="opreate">
                <label style=" width:auto;" for="check-send"><input id="check-send" type="checkbox" checked />&nbsp;转发到我的微博</label>
            </div>
            <div class="command"><a id="btn-submit" class="btn-gaoqi-main">开始搞起！</a></div>
            <h3 id="weibo-content">我空闲的时候，喜欢<span class="strong">⋯⋯</span></h3>
        </div>
    </div>

</body>
</html>