﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width">
    <title>搞起 - 和朋友们一起搞活动</title>
    <link href="/static/style/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />
    <link href="/static/style/jquery.ui.timepicker.css" rel="stylesheet" type="text/css" />

    <link href="/static/style/bootstrap.less" rel="stylesheet/less" type="text/css" />
    <script src="/static/js/lib/less.js"></script>
    <script src="/static/js/lib/LAB.min.js"></script>
    <script>
        $LAB.script('/static/js/lib/jquery-1.6.2.min.js').wait()
            .script('/static/js/lib/json2.js').wait()
            .script('/static/js/lib/underscore-min.js').wait()
            .script('/static/js/lib/backbone.min.js')
            .script('/static/js/lib/jquery-ui-1.8.16.custom.min.js')
            .script('/static/js/lib/jquery.ui.timepicker.js')
            .script('/static/js/lib/jquery.tmpl.js')
            .script('/static/js/lib/excanvas.js').wait()
            .script('/static/js/lib/spinners.js').wait()
            .script('/static/js/lib/tipped.js')
            .script('/static/js/lib/sea.js').wait()
            .script('/static/js/settings.js').wait(function (){
                seajs.use('/static/js/index');
            });
    </script>

</head>
<body>
    <div class="topbar topbar-index">

    </div>
    <div class="container">
        <div class="tips tips-userinfo">
        </div>
        <div class="box">
            <div class="feed">
                <h2>收到<a  class="feed-link"> 5条 </a>新消息</h2>
                <ul>
                    <li class="alert_cover waitread">王昊 在 <a class="txt-activity">“一起吃烧烤活动”</a> 中给您留言了</li>
                    <li class="alert_cover waitread">王昊 在 <a class="txt-activity">“一起吃烧烤活动”</a> 中给您留言了</li>
                    <li class="alert_cover waitread">王昊 在 <a class="txt-activity">“一起吃烧烤活动”</a> 中给您留言了</li>
                </ul>
                <div class="feed-btn">
                    <button class="btn btn-all">查看全部</button>
                    <button class="btn info btn-ignore">知道了</button>
                </div>
            </div>
            <div class="main">
                <div class="activity-list">
                    <div id="mine"></div>
                    <div id="friends"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="toolBackTo" class="back-to" style="">
        <a class="back-top" href="#top" onclick="window.scrollTo(0,0);return false;" title="返回顶部">返回顶部</a>
    </div>

<!--html template-->
<script type="text/template" id="tpl-topbar">
    <div class="fill">
        <a class="logo-topbar"></a>
        <div class="nav-remind">
            <a id="txt-invitation" class="txt-remind">邀请<span id="invite-count" class="count"><%= invitations.length%></span></a>
            <!--<a id="txt-notification" class="txt-remind">通知<span id="remind-count" class="count"><%= notifications.length %></span></a>-->
        </div>
        <div class="nav-setting"><a id="txt-exit" class="txt-remind">退出</a> </div>
    </div>
</script>

<script type="text/template" id="tpl-new-activity">
    <div class="new-activity">
        <div class="dialog-title">
            <a class="close"> × 关闭 </a>
            <span class="icon-clock"></span>
            <span class="img-title">搞起活动</span>
        </div>

        <p>给这次活动一个醒目的标题吧</p>
        <div id="txt-count-remind">输入活动的大标题，还可以输入<span class="count-among"> 50 </span>字</div>
        <div class="dialog-content">
            <div class="active-title">
                <input name="" placeholder="我想..." class="txt-title" id="txt-title" />
            </div>
            <div class="active-detail">
                <div class="active-time">
                    <div class="inline-border gray-border" style=" width:86px;">
                        <input type="text" id="startDate" readonly="readonly"  class="txt-start-date"/>
                    </div>
                    <div class="inline-border gray-border" style=" width:56px;">
                        <input type="text" id="startTime" readonly="readonly"  class="txt-start-time"/>
                    </div>
                    <span id="txt-dateDiff" class="txt-nice-time"></span>
                </div>
                <div class="active-btn">
                    <button id="gaoqi-main" class="btn-gaoqi-main disabled" style="width: 144px" disabled="disabled">马上搞起</button>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="tpl-beg-activity">
    <div class="dialog-title">
        <a class="close"> × 关闭 </a>
        <span class="icon-clock"></span>
        <span class="img-title">求活动</span>
    </div>
    <div class="beg-activity">
        <div class="activity-tags activity-holder">
            <p>告诉朋友你最近对神马感兴趣</p>
            <div class="tags-list">
            </div>
        </div>
        <div class="activity-time activity-holder">
            <p>你神马时候有空呢？</p>
            <input type="text" id="startDate" style=" width:90px;" readonly="readonly"/>
            <span id="txt-dateDiff">大约3天后</span>
        </div>
        <div class="activity-idea activity-holder">
            <p>有没有神马想法？</p>
            <div class="no-content" for="txt-title">&nbsp;还没有神马好想法...&nbsp;</div>
            <div class="form-element">
                <input name=""  class="txt-activity-idea" id="txt-title" />
            </div>
        </div>
        <div class="activity-btn activity-holder">
            <button class="btn success btn-submit">确定了</button>
        </div>
    </div>
</script>

<script type="text/template" id="tpl-gaoqi-activity">
    <div class="dialog-title">
        <a class="close"> × 关闭 </a>
        <span class="icon-clock"></span>
        <span class="img-title">搞起活动</span>
    </div>
    <div class="gaoqi-activity">
        <div class="activity-friends activity-holder">
            <p>邀请他们一起来</p>
            <div class="friends-list">
            </div>
        </div>
        <div class="activities-list activity-holder">
            <p>参加哪个活动</p>
        </div>
    <div>
</script>


<script type="text/template" id="tpl-activity-container">
    <div class="activity activity-text">
            <div class="activity-avatar">
                <img src="<%= user.profile_image_url %>" title="<%= user.username %>" class="img-avatar" />
            </div>
            <div class="pop">
                <div class="pop-triangle"></div>
                <div class="activity-content-holder demand"></div>
                <div class="activity-content-holder participated"></div>
            </div>
        </div>
    </div>
</script>



<script type="text/template" id="requested-content">
    <div class="pop-content clearfix">
        <div class="activity-bd">
            <span class="activity-title">求活动: <%= text %> </span>
            <p><span class="act-time"><%= created_at_str %></span>&nbsp;更新</p>
        </div>
        <div class="activity-holder">
            <div class="arrow">
                <span>◆</span>
            </div>
            <div class="activity-tags">
            </div>
            <div class="activity-act-time">
                <span class="act-time"><%= plan_at_str %></span>
            </div>
            <div class="activity-participators">
                <div class="participators-info">
                    <span><%= participators.length %>人感兴趣</span>
                </div>
            </div>
        </div>
        <div class="activity-act">
            <button class="btn success btn-gaoqi">我来搞起</button>
            <button class="btn btn-demand">同求</button>
            <button class="btn btn-requested" disabled="" style=" display: none;">同求</button>
        </div>
    </div>
</script>



<script type="text/template" id="activity-content">
    <div class="activity-bd">
        <span class="activity-title">参加的活动: <a class="txt-activity-title"><%= text %></a></span>
        <p><span class="act-time"><%= created_at_str %></span>&nbsp;更新</p>
    </div>
    <div class="activity-holder">
        <div class="arrow">
            <span>◆</span>
        </div>
        <div class="activity-tags">
        </div>
        <div class="activity-act-time">
            <%= plan_at_str %>
        </div>
        <div class="activity-participators">
            <div class="participators-info">
                <a><%= confirmed_count %>人确认参加</a>
                <a><%= unconfirmed_count %>人等待确认</a>
                <a><span class="icon-message"></span><%= comment_count %>条留言</a>
            </div>
        </div>
    </div>
    <div class="activity-act">
        <button class="btn info btn-join">申请参加</button>
        <button class="btn btn-requested" disabled="" style=" display: none;">已申请参加</button>
    </div>
</script>


<script type="text/template" id="tpl-choose-tags">
     <div class='choose-tags'>
        <div class="dialog-title">
            <a class="close"> x 关闭 </a>
            <span class="icon-person"></span>
            <span class="img-title">你还有哪些感兴趣的活动主题？</span>
        </div>
        <div class="tag-sel-holder"></div>
        <div class="command"><a style="float:right; width: 98px;" id="btn-submit" class="btn-gaoqi-main">就选这么多</a></div>
    </div>
</script>


<script type="text/template" id="tpl-activity-navbar">
    <li datatype="0" class="current" id="tab-now"><a>计划中的活动</a></li>
    <li datatype="1" id="tab-before"><a>进行过的活动</a></li>
</script>


<script type="text/template" id="empty-content">
    <div class="pop-content clearfix">
        <div class="activity-empty-no-title">开始第一个活动...</div>
        <div class="activity-info">您可以看看好友们对神马感兴趣，或者直接</div>
        <div class="activity-beg"><a>求活动</a></div>
    </div>
</script>


<script type="text/template" id="tpl-activity-participator">
    <img title="<%= user.username%>" src="<%= user.profile_image_url %>" class="icon img-participators <%= status_class %>"/>
</script>





<!--<script type="text/template" id="empty-activity-content">-->
    <!--<div class="activity-avatar">-->
        <!--<img src="<%= owner.profile_image_url%>" title="<%= owner.username%>" class="img-avatar" />-->
    <!--</div>-->
    <!--<div class="activity-content-holder pop">-->
        <!--<div class="pop-triangle">-->
        <!--</div>-->
        <!--<div class="pop-content clearfix">-->
            <!--<div class="activity-empty-no-title">还没有活动计划</div>-->
            <!--<div class="activity-empty-title">活动计划还是空白...</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</script>-->

<!--<script type="text/template" id="activity-content"> -->
<!--<div class="activity-avatar">-->
    <!--<img src="<%= owner.profile_image_url%>" title="<%= owner.username%>" class="img-avatar" />-->
<!--</div>-->
<!--<div class="activity-content-holder pop">-->
    <!--<div class="activity-status">-->
        <!--<span class="<%= available_class %>" title="<%= available_des%>">-->
        <!--</span>-->
        <!--<span class="<%= visibile_class %>" title="<%= visibile_des %>">-->
        <!--</span>-->
    <!--</div>-->
    <!--<div class="pop-triangle">-->
    <!--</div>-->
    <!--<div class="pop-content clearfix">-->
        <!--<div class="activity-hd">-->
            <!--<div class="activity-act-time">-->
                <!--<span class="icon-clock"></span>-->
                <!--<span class="act-time"><%= plan_at_str%></span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="activity-bd">-->
            <!--<a class="activity-title"><%= text%></a>-->
        <!--</div>-->
        <!--<div class="activity-participators">-->
        <!--</div>-->
        <!--<div class="activity-act">-->
            <!--<a class="activity-confirmed-count"><%= confirmed_count%>人确定参加&nbsp;&nbsp;</a> <a class="activity-unconfirmed-count">-->
                <!--<%= unconfirmed_count%>人等待确定&nbsp;&nbsp;</a><a class="activity-comment-count">-->
                <!--<span class="icon-message" style="margin: 0 5px -2px 0"></span><%= comment_count %>条留言&nbsp;</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</script>-->

<!--<script type="text/template" id="tpl-friends-tags">-->
    <!--<h1>朋友们对这些事情感兴趣</h1>-->
    <!--<ul class='tag-list'>-->
        <!--<li class="tag">-->
            <!--<div class="tag-title">-->
                <!--<span class="tag-label tag-active-label">爬山</span>-->
                <!--<a class="tag-active">有活动叫上我</a>-->
                <!--<a class="tag-normal">我也感兴趣</a>-->
            <!--</div>-->
            <!--<div class="tag-act">-->
                <!--<a>搞起活动!</a>-->
            <!--</div>-->
            <!--<div class="active members-list">-->
                <!--<span class="title">他们最近想参加活动(10)</span>-->
                <!--<ul class="active-members-list">-->
                    <!--<li>-->
                    <!--<a class="name" href="http://www.douban.com/people/55689384/"><img width="48" height="48" src="http://img3.douban.com/icon/user_normal.jpg"><br><span class="name">嫣然</span></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a class="name" href="http://www.douban.com/people/51168316/"><img width="48" height="48" src="http://img3.douban.com/icon/user_normal.jpg"><br><span class="name">酱子型男</span></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a class="name" href="http://www.douban.com/people/53918578/"><img width="48" height="48" src="http://img3.douban.com/icon/user_normal.jpg"><br><span class="name">复杂的单细胞</span></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a class="name" href="http://www.douban.com/people/55688891/"><img width="48" height="48" src="http://img3.douban.com/icon/user_normal.jpg"><br><span class="name">毛毛</span></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a class="name" href="http://www.douban.com/people/55688091/"><img width="48" height="48" src="http://img3.douban.com/icon/user_normal.jpg"><br><span class="name">勤快的小V </span></a>-->
                    <!--</li>-->
                    <!--<li class="show-all"><a class="btn-show-all">显示全部...</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="normal members-list">-->
                <!--<span class="title">他们对这个活动感兴趣(43)</span>-->
                <!--<ul class="normal-members-list">-->
                    <!--<li>-->
                    <!--<a class="name" href="http://www.douban.com/people/55689384/"><img width="36" height="36" src="http://img3.douban.com/icon/user_normal.jpg" /></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a class="name" href="http://www.douban.com/people/51168316/"><img width="36" height="36" src="http://img3.douban.com/icon/user_normal.jpg" /></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a class="name" href="http://www.douban.com/people/53918578/"><img width="36" height="36" src="http://img3.douban.com/icon/user_normal.jpg" /></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a class="name" href="http://www.douban.com/people/55688891/"><img width="36" height="36" src="http://img3.douban.com/icon/user_normal.jpg" /></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a class="name" href="http://www.douban.com/people/55688091/"><img width="36" height="36" src="http://img3.douban.com/icon/user_normal.jpg" /></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a class="name" href="http://www.douban.com/people/55687457/"><img width="36" height="36" src="http://img3.douban.com/icon/user_normal.jpg" /></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a class="name" href="http://www.douban.com/people/55688091/"><img width="36" height="36" src="http://img3.douban.com/icon/user_normal.jpg" /></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a class="name" href="http://www.douban.com/people/55687457/"><img width="36" height="36" src="http://img3.douban.com/icon/user_normal.jpg" /></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a class="name" href="http://www.douban.com/people/55687457/"><img width="36" height="36" src="http://img3.douban.com/icon/user_normal.jpg" /></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a class="name" href="http://www.douban.com/people/55687457/"><img width="36" height="36" src="http://img3.douban.com/icon/user_normal.jpg" /></a>-->
                    <!--</li>-->
                    <!--<li class="show-all"><a class="btn-show-all">显示全部...</a></li>-->
                <!--</ul>-->

            <!--</div>-->

        <!--</li>-->
        <!---->
        <!--<li class="tag">-->
            <!--<span class="tag-name">桌游</span><span>4个朋友感兴趣</span><button class="btn-gaoqi">搞个活动</button>-->
            <!--<div class="members-list">-->
                <!--<ul>-->
                    <!--<li>-->
                    <!--<a href="http://www.douban.com/people/madvincent/"><img width="48" height="48" src="http://img3.douban.com/icon/u2143441-4.jpg"><br><span class="name">Vincent</span></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="http://www.douban.com/people/55686370/"><img width="48" height="48" src="http://img3.douban.com/icon/user_normal.jpg"><br><span class="name">busybee</span></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="http://www.douban.com/people/2792531/"><img width="48" height="48" src="http://img3.douban.com/icon/u2792531-2.jpg"><br><span class="name">shan</span></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="http://www.douban.com/people/jrhuang/"><img width="48" height="48" src="http://img3.douban.com/icon/u1543795-1.jpg"><br><span class="name">Jack.R.Huang</span></a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="tag">-->
            <!--<span class="tag-name">练瑜伽</span><span>我感兴趣,还没有朋友感兴趣</span><button class="btn-gaoqi">搞个活动</button>-->
        <!--</li>-->
        <!--<li class="tag">-->
            <!--<span class="tag-name">看电影</span><span></span><button class="btn-gaoqi">搞个活动</button>-->
        <!--</li>-->
    <!--</ul>-->
<!--</script>-->

    <!--jquery UI dialog content-->
    <div id="dialog" title="申请参加" style="display: none;">
        <p><br/>亲，已经发送参加活动请求，请耐心等待活动搞起者的审核！</p>
    </div>


    {% extends "ga.html" %}

</body>

</html>
