﻿<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>搞起 - 和朋友们一起搞活动</title>
    <!--<link href="/static/style/site.css" rel="stylesheet" type="text/css" />-->
    <link href="/static/style/bootstrap.less" rel="stylesheet/less" type="text/css" />
    <script src="/static/js/lib/less.js"></script>
    <script src="/static/js/lib/LAB.min.js"></script>
    <script>
        $LAB.script('/static/js/lib/jquery-1.6.2.min.js').wait()
            .script('/static/js/lib/underscore-min.js').wait()
            .script('/static/js/lib/backbone.min.js')
            .script('/static/js/lib/jquery-ui-1.8.16.custom.min.js')
            .script('/static/js/lib/jquery.ui.timepicker.js')
            .script('/static/js/lib/jquery.tmpl.js')
            .script('/static/js/lib/sea.js').wait()
            .script('/static/js/settings.js').wait(function (){
                seajs.use('/static/js/login');
            });
    </script>
</head>

<body id="login">
    <div class="content">
        <div id="logo">
            <img alt="Logo_beta" src="/static/style/images/main-logo.png" />
            <div id="title">
                搞起是一个帮助你和朋友们一起搞活动的平台
            </div>
        </div>
        <div id="singin" ">
            <ul class="clearfix">
                <li>
                    <p class="login-lab">
                        邮箱</p>
                    <input type="text" id="txt-email"/>
                </li>
                <li>
                    <p class="login-lab">
                        密码</p>
                    <input type="password" id="txt-pwd" />
                </li>
                <li class="last">
                    <span id="btn-signin" class="btn-signin"></span>
                </li>
                <!--<div>-->
                    <!--<p><a class="alink">忘记密码?</a></p>-->
                <!--</div>-->
            </ul>
            <div id="weibo-signin">
                <p>
                    拥有微博账号？&nbsp;&nbsp;直接登陆！</p>
                <a id="btn-sinaweibo-connect" href="/connect/sinaweibo/go">
                    <img src="/static/style/images/sina_weibo_login.png" />
                </a>
            </div>
        </div>
    </div>
    <div class="footer">
        @2011 - <a class="footer-alink" href="http://gaoqifm.diandian.com" target="_blank">关于搞起</a>
        - <a class="footer-alink" href="mailto:bob.yuxinyang@gmail.com">联系我们</a>
        - 沪ICP备11010522号
    </div>
{% extends "ga.html" %}
</body>
</html>
