﻿<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>搞起 - 和朋友们一起搞活动</title>

    <!--<link href="/static/style/site.css" rel="stylesheet" type="text/css" />-->
    <link href="/static/style/bootstrap.less" rel="stylesheet/less" type="text/css" />
    <script src="/static/js/lib/less.js"></script>

    <script src="/static/js/lib/LAB.min.js"></script>
    
    <script>
        $LAB.script('/static/js/lib/jquery-1.6.2.min.js').wait()
            .script('/static/js/lib/underscore-min.js').wait()
            .script('/static/js/lib/backbone.min.js')
            .script('/static/js/lib/jquery-ui-1.8.16.custom.min.js')
            .script('/static/js/lib/jquery.ui.timepicker.js')
            .script('/static/js/lib/jquery.tmpl.js')
            .script('/static/js/lib/jquery.validate.min.js')
            .script('/static/js/lib/sea.js').wait()
            .script('/static/js/settings.js').wait(function (){
                seajs.use('/static/js/register');
            });
    </script>
</head>
<body id="register">
    <div class="content">
        <div id="head">
            <h1 class="logo-white"></h1>
        </div>
        <div id="register-container">
            <div id="login-button-holder" style="display: none">
                已有搞起帐号？ <span class="btn-signin"></span>
            </div>
            <div id="prompt-holder">
                <img src="{{ cu.profile_image_url }}" id="user-icon" />
                <span id="txt-prompt">hi, <span id="txt-weibo_name">{{ cu.username|e }}</span>, 花30秒注册下吧 </span>
            </div>
            <div id="register-holder">
                <form  id="submitForm" method="get" action="">
                    <div id="box">
                        <div class="box-wrap">
                            <div class="no-content" for="txt-username"></div>
                            <div class="login-form-element">
                                <input id="txt-username" name="username" type="text" class="text" value="{{ cu.username|e }}"/>
                            </div>
                        </div>
                        <div class="box-wrap">
                            <div class="no-content" for="txt-email">&nbsp;邮箱&nbsp;</div>
                            <div class="login-form-element">
                                <input id="txt-email" name="email" type="text" class="text" />
                            </div>
                        </div>
                        <div class="box-wrap">
                            <div class="no-content" for="txt-password">&nbsp;密码&nbsp;</div>
                            <div class="login-form-element">
                                <input id="txt-password" name="password" type="password" class="text" />
                            </div>
                        </div>
                        <span id="btn-reg" class="btn-reg">好了，搞起！</span>
                    </div>
                </form>
            </div>
            <div id="register-by-sina">
                <img src="/static/style/images/register-sina.png" />
            </div>
        </div>
    </div>
    <div class="footer">
        @2011 - <a class="footer-alink" href="http://gaoqifm.diandian.com" target="_blank">关于搞起</a>
        - <a class="footer-alink" href="mailto:bob.yuxinyang@gmail.com">联系我们</a>
        - 沪ICP备11010522号
    </div>
{% extends "ga.html" %}
</body>
</html>
