<div class="name-card">
    <dl class="name clearfix">
        <dt><img title="" src="{{ u.profile_image_url}}" class="icon img-confirmed-participators" width="50" height="50"></dt>
        <dd><p>{{ u.username }}</p><span class="icon-sina"></span><a href="http://weibo.com/{{ u.weibo_id }}" target="blank" class="linkToWeibo">去 TA 的微博</a></p></dd></dl>
    <dl class="info clearfix">{% if u.invite_by %}<dt><p>{{ u.invite_by }}邀请参加</p></dt>{% endif %}
        <dd><span class="user-status">
            {% if u.status == 'in-activity' %}TA 会参加这个活动{% elif u.status == 'making-decision' %}TA 会参加这个活动{% else %}TA 还没有做决定{% endif %}
        </span></dd></dl>
</div>